Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

.lintstagedrc.json:

{
	"src/**/*.{ts,tsx,css,astro}": ["yarn format:all:changed"],
	"src/**/*.{ts,tsx,astro}": ["yarn lint:ts:changed"],
	"src/**/*.css": ["yarn lint:styles"]
}

fix: seo improvements
  astro.config.ts
  src/pages/index.astro
  src/ui/modules/core/components/emailButton/utils/mailTo/mailTo.ts
  src/ui/modules/core/components/footer/Footer.astro
Due: yarn format:all:changed, yarn lint:ts:changed

chore: bump deps
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  src/ui/modules/core/components/breadcrumbs/breadcrumbs.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: remove duplicate components
  .yarn/install-state.gz
  src/pages/index.astro
  src/pages/privacy-policy.astro
  src/pages/terms-and-conditions.astro
  src/ui/modules/about/components/aboutIntro/AboutIntro.astro
  src/ui/modules/about/components/aboutIntro/about-intro.css
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/articles/components/featuredArticle/featured-article.css
  src/ui/modules/contact/components/contactIntro/ContactIntro.astro
  src/ui/modules/contact/components/tabs/Tabs.astro
  src/ui/modules/core/components/footer/Footer.astro
  src/ui/modules/core/components/footer/footer.css
  src/ui/modules/core/components/header/atoms/menu/Menu.astro
  src/ui/modules/core/components/socialMedia/SocialMedia.astro
  src/ui/modules/core/components/socialMedia/social-media.css
  src/ui/modules/home/components/testimonial/atoms/testimonialImage/TestimonialImage.tsx
  src/ui/modules/home/components/testimonial/atoms/testimonialQuote/TestimonialQuote.tsx
  src/ui/modules/home/components/welcome/Welcome.astro
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: rename component
  src/ui/modules/about/components/aboutIntro/AboutIntro.astro
  src/ui/modules/core/components/SocialNetworks/SocialNetworks.astro
  src/ui/modules/core/components/SocialNetworks/social-networks.css
  src/ui/modules/core/components/footer/Footer.astro
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add images richtext display
  .yarn/install-state.gz
  package.json
  src/application/dto/article/articleDTO.ts
  src/application/dto/article/utils/getRelatedArticles/getRelatedArticles.ts
  src/application/dto/article/utils/renderOptions/index.ts
  src/application/dto/article/utils/renderOptions/renderOptions.ts
  src/const/const.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/_article.css
  src/pages/index.astro
  src/ui/modules/core/components/SocialNetworks/SocialNetworks.astro
  src/ui/modules/core/components/emailButton/EmailButton.astro
  src/ui/modules/core/components/emailButton/utils/mailTo/mailTo.ts
  src/ui/styles/global/variables.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

Restyled by jq
  biome.json
  package.json
  src/data/countries.geojson.json
  tsconfig.json
  tsconfig.paths.json
Due: none

Restyled by prettier
  commitlint.config.js
Due: none

Restyled by prettier-json
  biome.json
  src/data/countries.geojson.json
  tsconfig.json
  tsconfig.paths.json
Due: none

Restyled by whitespace
  src/pages/articles/_article.css
  src/pages/articles/_articles.css
  src/ui/modules/about/components/aboutIntro/about-intro.css
  src/ui/modules/about/components/aboutLatestArticles/about-latest-articles.css
  src/ui/modules/about/components/aboutLatestArticlesSlider/about-latest-articles-slider.css
  src/ui/modules/about/components/cities/cities.css
  src/ui/modules/about/components/cityCard/atoms/cityDescription/city-description.css
  src/ui/modules/about/components/cityCard/atoms/cityImage/city-image.css
  src/ui/modules/about/components/cityCard/atoms/cityName/city-name.css
  src/ui/modules/about/components/cityCard/atoms/cityPeriod/city-period.css
  src/ui/modules/about/components/cityCard/city-card.css
  src/ui/modules/about/components/littleMoreOfMe/little-more-of-me.css
  src/ui/modules/about/components/worldGlobe/world-globe.css
  src/ui/modules/contact/components/contactForm/contact-form.css
  src/ui/modules/contact/components/contactIntro/contact-intro.css
  src/ui/modules/contact/components/tabs/tabs.css
  src/ui/modules/core/components/articleCard/atoms/articleCardAuthor/article-card-author.css
  src/ui/modules/core/components/articleCard/atoms/articleCardExcerpt/article-card-excerpt.css
  src/ui/modules/core/components/articleCard/atoms/articleCardImage/article-card-image.css
  src/ui/modules/core/components/header/atoms/menu/menu.css
  src/ui/modules/core/components/header/atoms/menuButton/menu-button.css
  src/ui/modules/core/components/header/atoms/menuOverlay/menu-overlay.css
  src/ui/modules/core/components/header/header.css
  src/ui/modules/core/components/latestArticles/atoms/latestArticlesSlider/latest-articles-slider.css
  src/ui/modules/core/components/latestArticles/latest-articles.css
  src/ui/modules/core/components/logo/logo.css
  src/ui/modules/core/components/scrollTop/ScrollTop.astro
  src/ui/modules/core/components/spinner/spinner.css
  src/ui/modules/core/components/themeToggle/ThemeToggle.astro
  src/ui/modules/home/components/myWork/my-work.css
  src/ui/modules/home/components/testimonial/atoms/testimonialAuthor/testimonial-author.css
  src/ui/modules/home/components/testimonial/atoms/testimonialDescription/testimonial-description.css
  src/ui/modules/home/components/testimonial/atoms/testimonialImage/testimonial-image.css
  src/ui/modules/home/components/testimonial/testimonial.css
  src/ui/modules/home/components/testimonials/testimonials.css
  src/ui/modules/home/components/welcome/Welcome.astro
  src/ui/modules/legal/components/legalSection/legal-section.css
  src/ui/modules/projects/components/projectSection/project-section.css
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

[ImgBot] Optimize images
  src/assets/images/favicon/favicon.png
  src/assets/images/svg/traditional-arrow-right.svg
  src/assets/svg-components/clock.svg
  src/assets/svg-components/error.svg
  src/assets/svg-components/lens.svg
  src/assets/svg-components/menu.svg
  src/assets/svg-components/quotes.svg
  static/assets/images/360_sea_otter_0901.jpg
  static/assets/images/amman.jpg
  static/assets/images/anna-froud.jpeg
  static/assets/images/barcelona.jpg
  static/assets/images/bianca-fiore.jpg
  static/assets/images/emma-harris.jpg
  static/assets/images/fixing.png
  static/assets/images/publications.jpg
  static/assets/images/social-media.jpg
  static/assets/images/the-publishing-post.png
  static/assets/images/vanaqua_soaw_eventpage-support-03-664x664.jpg
  static/assets/png/logo.png
  static/assets/svg/pin.svg
Due: none

style: minor var refactor
  .yarn/install-state.gz
  package.json
  src/application/dto/author/authorDTO.ts
  src/application/dto/city/cityDTO.ts
  src/application/dto/project/projectDTO.ts
  src/application/dto/tag/tagDTO.ts
  src/application/dto/tag/utils/getArticlesByTag/getArticlesByTag.ts
  src/application/dto/testimonial/testimonialDTO.ts
  src/env.d.ts
  src/pages/articles/[...slug].astro
  src/pages/tags/[slug].astro
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

style: quotation
  src/application/dto/article/utils/renderOptions/index.ts
  src/application/dto/article/utils/renderOptions/renderOptions.ts
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add 404 and 5xx error handling
  .yarn/install-state.gz
  package.json
  public/favicon.svg
  src/env.d.ts
  src/pages/404.astro
  src/pages/500.astro
  src/pages/index.astro
  src/pages/tags/[slug].astro
  src/pages/tags/index.astro
  src/ui/assets/images/favicon/favicon.png
  src/ui/modules/core/components/errorLayer/ErrorLayer.astro
  src/ui/modules/core/components/errorLayer/error-layer.css
  src/ui/modules/core/components/head/Head.astro
  src/ui/modules/core/components/seo/Seo.astro
  src/ui/modules/core/components/slider/Slider.tsx
  src/ui/styles/vendor/cookie-consent.css
  src/ui/styles/vendor/vendor.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: types check
  .yarn/install-state.gz
  astro.config.ts
  package.json
  src/env.d.ts
  src/infrastructure/search/client.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/projects.astro
  src/pages/tags/[slug].astro
  src/pages/tags/index.astro
  src/ui/modules/about/components/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/contact/components/tabs/Tabs.astro
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/breadcrumbs/Breadcrumbs.astro
  src/ui/modules/core/components/cookieConsent/utils/updatePreferences/updatePreferences.ts
  src/ui/modules/core/components/errorLayer/ErrorLayer.astro
  src/ui/modules/core/components/errorLayer/error-layer.css
  src/ui/modules/core/components/head/Head.astro
  src/ui/modules/core/components/latestArticles/LatestArticles.astro
  src/ui/modules/core/components/relatedArticles/RelatedArticles.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/components/socialNetworks/SocialNetworks.astro
  src/ui/modules/core/components/socialNetworks/social-networks.css
  src/ui/modules/core/utils/getFeaturedArticle/getFeaturedArticle.ts
  src/ui/modules/home/components/myWork/MyWork.astro
  src/ui/modules/home/components/testimonials/Testimonials.astro
  src/ui/modules/home/components/testimonialsSlider/TestimonialsSlider.tsx
  tsconfig.json
  tsconfig.paths.json
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

chore: bump node version
  .nvmrc
  .yarn/install-state.gz
  package.json
  src/pages/404.astro
  src/pages/500.astro
  src/ui/modules/core/components/seo/Seo.astro
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: minor type improvements
  .yarn/install-state.gz
  package.json
  src/application/dto/article/utils/getRelatedArticles/getRelatedArticles.ts
  src/application/dto/tag/tagDTO.ts
  src/const/const.ts
  src/pages/about.astro
  src/pages/index.astro
  src/ui/modules/articles/components/readingProgress/ReadingProgress.astro
  src/ui/modules/contact/components/tabs/Tabs.astro
  src/ui/modules/contact/utils/autosize/autosize.ts
  src/ui/modules/core/components/latestArticles/LatestArticles.astro
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

fix: tags collection types
  .yarn/install-state.gz
  package.json
  src/application/dto/article/types.ts
  src/application/dto/article/utils/getAuthor/getAuthor.ts
  src/application/dto/author/types.ts
  src/application/dto/city/types.ts
  src/application/dto/project/types.ts
  src/application/dto/tag/types.ts
  src/application/dto/testimonial/types.ts
  src/application/entities/authors/authors.ts
  src/application/entities/tags/tags.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: initial vitest support
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  vitest.config.ts
Due: none

feat: initial vitest support
  .husky/commit-msg
Due: none

ASASA: should failAS
  .husky/commit-msg
  .lintstagedrc.json
  package.json
  vitest.config.ts
Due: none

chore: prepared husky v10 support
  .husky/commit-msg
Due: none

perf: improved pre-commit hook
  .husky/pre-commit
  package.json
Due: none

docs: update todo
  .lintstagedrc.json
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
Due: yarn format:all:changed, yarn lint:ts:changed

feat: migrate to commitlint TS
  .eslintignore
  .stylelintrc.cjs
  .yarn/install-state.gz
  commitlint.config.js
  commitlint.config.ts
  package.json
  yarn.lock
Due: none

fix: ignored yarn
  .gitignore
  .yarn/install-state.gz
Due: none

fix: update gitignore
  .gitignore
Due: none

ci: update renovate asignees
  .github/renovate.json
Due: none

ci: update renovate PRs
  .github/renovate.json
Due: none

feat: add tag staggered animation on hover
  .github/renovate.json
  .lintstagedrc.json
  .stylelintrc.cjs
  commitlint.config.ts
  package.json
  src/pages/articles/index.astro
  src/pages/index.astro
  src/ui/modules/about/components/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/ArticleCard.tsx
  src/ui/modules/core/components/articleCard/article-card.css
  src/ui/modules/core/components/articleCard/atoms/articleCardAuthor/article-card-author.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTagItem/ArticleCardTagItem.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardTagItem/article-card-tag-item.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTagsList/article-card-tags-list.css
  src/ui/modules/core/components/latestArticles/atoms/latestArticlesSlider/LatestArticlesSlider.tsx
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: related articles schema
  package.json
  src/application/dto/article/utils/getRelatedArticles/getRelatedArticles.ts
  src/application/entities/articles/schema.ts
  src/application/entities/authors/schema.ts
  src/ui/modules/core/components/articleCard/article-card.css
  src/ui/modules/core/components/articleCard/atoms/articleCardAuthor/article-card-author.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTagItem/article-card-tag-item.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTagsList/article-card-tags-list.css
  src/ui/modules/core/components/relatedArticles/RelatedArticles.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/related-article-card.css
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles
