Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

.lintstagedrc.json:

{
	"src/**/*.{ts,tsx,css}": ["yarn format:all:changed"],
	"src/**/*.{ts,tsx}": ["yarn lint:ts:changed"],
	"src/**/*.css": ["yarn lint:styles"]
}

feat: add initial responsive header
  src/server/email/server.ts
  src/ui/components/atoms/logo/logo.css
  src/ui/components/organisms/header/components/menu/menu.css
  src/ui/components/organisms/header/components/menuButton/menuButton.css
  src/ui/components/organisms/header/utils/toggleMenu/toggleMenu.ts
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add initial responsive header
  src/ui/components/organisms/header/components/menu/menu.css
Due: yarn format:all:changed, yarn lint:styles

perf: get related article in SSR
  src/pages/articles/[...slug].astro
Due: none

perf: get related article in SSR
  .lintstagedrc.json
  package.json
  src/pages/articles/[...slug].astro
Due: none

feat: add spinner
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  src/ui/components/atoms/spinner/Spinner.tsx
  src/ui/components/atoms/spinner/index.ts
  src/ui/components/atoms/spinner/spinner.css
  src/ui/components/organisms/contactForm/ContactForm.tsx
  src/ui/styles/global/animations.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add reset form button
  astro.config.mjs
  src/pages/index.astro
  src/ui/components/atoms/spinner/spinner.css
  src/ui/components/atoms/worldGlobe/utils/renderPin/renderPin.ts
  src/ui/components/atoms/worldGlobe/world-globe.css
  src/ui/components/molecules/aboutLatestArticlesSlider/components/aboutLatestArticlesSliderNavigation/about-latest-articles-slider-navigation.css
  src/ui/components/molecules/testimonialsSlider/components/testimonialsNavigation/testimonials-navigation.css
  src/ui/components/organisms/contactForm/ContactForm.tsx
  src/ui/components/organisms/contactForm/contact-form.css
  src/ui/components/organisms/header/components/menuButton/menuButton.css
  src/ui/styles/base/base.css
  src/ui/styles/global/animations.css
  src/ui/styles/global/global.css
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

chore: bump deps
  .yarn/install-state.gz
  astro.config.mjs
  biome.json
  package.json
  scripts/get-tsconfig.cjs
  src/consts.ts
  src/pages/api/contact-form.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/tags/[...tag].astro
  src/ui/components/atoms/spinner/Spinner.tsx
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/atoms/worldGlobe/utils/calculateCenter/calculateCenter.ts
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/cityCard/CityCard.tsx
  src/ui/components/molecules/cityCard/components/cityImage/CityImage.tsx
  src/ui/components/molecules/testimonial/components/testimonialDescription/testimonialDescription.tsx
  src/ui/components/molecules/testimonial/components/testimonialImage/testimonialImage.tsx
  src/ui/components/molecules/testimonial/components/testimonialQuote/testimonialQuote.tsx
  src/ui/components/molecules/testimonial/testimonial.tsx
  src/ui/components/molecules/testimonialsSlider/TestimonialsSlider.tsx
  src/ui/components/organisms/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/contactForm/ContactForm.tsx
  src/ui/components/organisms/contactForm/utils/encode/encode.ts
  src/ui/components/organisms/contactForm/utils/flyPlane/flyPlane.ts
  src/ui/components/organisms/contactFormProvider/ContactFormProvider.tsx
  src/ui/components/organisms/header/utils/backgroundObserver/backgroundObserver.ts
  src/ui/components/organisms/header/utils/toggleMenu/toggleMenu.ts
  src/ui/components/organisms/latestArticles/latest-articles.css
  src/ui/components/organisms/siteHead/SiteHead.astro
  src/ui/components/organisms/tabs/utils/changeTab/changeTab.ts
  src/ui/shared/utils/createExcerpt/createExcerpt.ts
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: build errors
  .yarn/install-state.gz
  astro.config.mjs
  package.json
  src/assets/images/svg-components/pin/Pin.tsx
  src/consts.ts
  src/content/articles/markdown-style-guide.md
  src/global.d.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/pages/tags/[...tag].astro
  src/ui/components/atoms/headerLink/HeaderLink.astro
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/atoms/worldGlobe/utils/calculateCenter/calculateCenter.ts
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/aboutLatestArticlesSlider/components/aboutLatestArticlesSliderNavigation/AboutLatestArticlesSliderNavigation.tsx
  src/ui/components/molecules/cityCard/CityCard.tsx
  src/ui/components/molecules/cityCard/components/cityDescription/CityDescription.tsx
  src/ui/components/molecules/cityCard/components/cityImage/CityImage.tsx
  src/ui/components/molecules/cityCard/components/cityName/CityName.tsx
  src/ui/components/molecules/cityCard/components/cityPeriod/CityPeriod.tsx
  src/ui/components/molecules/testimonial/components/testimonialAuthor/testimonialAuthor.tsx
  src/ui/components/molecules/testimonial/components/testimonialDescription/testimonialDescription.tsx
  src/ui/components/molecules/testimonial/components/testimonialImage/testimonialImage.tsx
  src/ui/components/molecules/testimonial/components/testimonialQuote/testimonialQuote.tsx
  src/ui/components/molecules/testimonial/testimonial.tsx
  src/ui/components/molecules/testimonialsSlider/TestimonialsSlider.tsx
  src/ui/components/molecules/testimonialsSlider/components/testimonialsNavigation/TestimonialsNavigation.tsx
  src/ui/components/organisms/cities/Cities.tsx
  src/ui/components/organisms/contactForm/ContactForm.tsx
  src/ui/components/organisms/contactFormProvider/ContactFormProvider.tsx
  src/ui/components/organisms/header/components/menu/Menu.astro
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/myWork/MyWork.astro
  tsconfig.json
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

fix: ssr build
  .yarn/install-state.gz
  astro.config.mjs
  src/content/config.ts
  src/pages/api/contact-form.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/tags/[...tag].astro
  src/pages/tags/index.astro
  src/ui/components/organisms/siteHead/SiteHead.astro
  src/ui/components/organisms/tabs/Tabs.astro
  tsconfig.json
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

fix: add external ssr lib
  astro.config.mjs
  src/global.d.ts
Due: yarn format:all:changed, yarn lint:ts:changed

chore: bump deps
  .yarn/install-state.gz
  astro.config.mjs
  package.json
  yarn.lock
Due: none

feat: add responsive home layout
  src/pages/index.astro
  src/ui/components/atoms/logo/logo.css
  src/ui/components/molecules/welcome/utils/initializeParallax/initializeParallax.ts
  src/ui/components/molecules/welcome/welcome.css
  src/ui/components/organisms/header/components/menu/menu.css
  src/ui/components/organisms/header/components/menuButton/menuButton.css
  src/ui/components/organisms/header/components/menuOverlay/menuOverlay.css
  src/ui/components/organisms/header/utils/toggleMenu/toggleMenu.ts
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/latestArticles/latest-articles.css
  src/ui/components/organisms/myWork/my-work.css
  src/ui/styles/base/base.css
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add more responsivness to menu
  src/ui/components/atoms/logo/logo.css
  src/ui/components/organisms/header/components/menu/menu.css
  src/ui/components/organisms/myWork/my-work.css
  src/ui/styles/base/base.css
Due: yarn format:all:changed, yarn lint:styles

feat: add responsive improvements
  .yarn/install-state.gz
  package.json
  src/ui/components/molecules/welcome/welcome.css
  src/ui/components/organisms/header/components/menu/menu.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:styles

docs: update funding
  .github/FUNDING.yml
Due: none

chore: renovate ci
  .github/dependabot.yml
  .github/renovate.json
Due: none

chore: bump deps
  .yarn/install-state.gz
  package.json
  src/consts.ts
  src/pages/articles/[...slug].astro
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: improve responsiveness
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  src/pages/projects.astro
  src/ui/components/atoms/projectSection/project-section.css
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/welcome/Welcome.astro
  src/ui/components/molecules/welcome/welcome.css
  src/ui/components/organisms/header/components/menu/menu.css
  src/ui/components/organisms/header/components/menuButton/menuButton.css
  src/ui/components/organisms/myWork/my-work.css
  src/ui/components/organisms/testimonials/testimonials.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

chore: bump deps
  .yarn/install-state.gz
  package.json
  src/pages/articles/[...slug].astro
  src/pages/articles/_article.css
  src/pages/index.astro
  src/ui/components/molecules/welcome/welcome.css
  src/ui/components/organisms/testimonials/testimonials.css
  src/ui/styles/base/base.css
  src/ui/styles/global/global.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:styles

feat: minor CSS improvements
  .yarn/install-state.gz
  src/pages/articles/_articles.css
  src/pages/articles/index.astro
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/myWork/MyWork.astro
  src/ui/components/organisms/myWork/my-work.css
  src/ui/styles/global/global.css
Due: yarn format:all:changed, yarn lint:styles

feat: add responsiveness to about page
  .yarn/install-state.gz
  package.json
  src/ui/components/molecules/aboutIntro/AboutIntro.astro
  src/ui/components/molecules/aboutIntro/about-intro.css
  src/ui/styles/global/global.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:styles

fix: remove global variable
  .yarn/install-state.gz
  package.json
  src/global.d.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/myWork/MyWork.astro
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add responsiveness in about page
  .yarn/install-state.gz
  package.json
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/atoms/worldGlobe/world-globe.css
  src/ui/components/molecules/cityCard/city-card.css
  src/ui/components/organisms/cities/cities.css
  src/ui/components/organisms/littleMoreOfMe/LittleMoreOfMe.astro
  src/ui/components/organisms/littleMoreOfMe/little-more-of-me.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add responsiveness in about page
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/projects.astro
  src/ui/components/molecules/cityCard/city-card.css
Due: yarn format:all:changed, yarn lint:styles

feat: add about responsiveness
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  src/ui/components/organisms/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/aboutLatestArticles/about-latest-articles.css
  src/ui/components/organisms/footer/footer.css
  src/ui/styles/base/base.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:styles

feat: add about responsive
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/molecules/aboutLatestArticlesSlider/about-latest-articles-slider.css
  src/ui/components/molecules/cityCard/city-card.css
  src/ui/components/molecules/cityCard/components/cityDescription/city-description.css
  src/ui/components/molecules/cityCard/components/cityName/city-name.css
  src/ui/components/molecules/cityCard/components/cityPeriod/city-period.css
  src/ui/components/molecules/welcome/welcome.css
  src/ui/hooks/useTabVisibility/index.ts
  src/ui/hooks/useTabVisibility/useTabVisibility.ts
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add articles responsive
  .yarn/install-state.gz
  package.json
  src/pages/articles/_articles.css
  src/pages/articles/index.astro
  src/ui/components/organisms/header/components/menu/menu.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:styles

feat: add /articles responsive
  .yarn/install-state.gz
  package.json
  src/pages/articles/_articles.css
  src/pages/index.astro
  src/ui/hooks/useTabVisibility/index.ts
  src/ui/hooks/useTabVisibility/useTabVisibility.ts
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add contact responsive
  src/pages/articles/_article.css
  src/pages/index.astro
  src/ui/components/molecules/testimonial/testimonial.css
  src/ui/components/molecules/welcome/utils/initializeParallax/initializeParallax.ts
  src/ui/components/organisms/contactIntro/contact-intro.css
  src/ui/components/organisms/tabs/Tabs.astro
  src/ui/components/organisms/tabs/tabs.css
  src/ui/styles/global/variables.css
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: improve testimonials layout
  .yarn/install-state.gz
  package.json
  src/assets/images/svg/logo.svg
  src/pages/index.astro
  src/ui/components/molecules/testimonial/components/testimonialDescription/testimonial-description.css
  src/ui/components/molecules/testimonial/components/testimonialQuote/testimonial-quote.css
  src/ui/components/molecules/testimonial/testimonial.css
  src/ui/components/organisms/testimonials/testimonials.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:styles

feat: migrate to Astro actions
  .yarn/install-state.gz
  astro.config.mjs
  package.json
  src/actions/index.ts
  src/env.d.ts
  src/pages/api/contact-form.ts
  src/ui/components/organisms/contactForm/ContactForm.tsx
  tsconfig.paths.json
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add slider for latest articles
  .yarn/install-state.gz
  package.json
  src/assets/images/svg-components/leftArrow/LeftArrow.tsx
  src/assets/images/svg-components/leftArrow/index.ts
  src/pages/index.astro
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  src/ui/components/molecules/latestArticles/components/latestArticlesSliderNavigation/LatestArticlesSliderNavigation.tsx
  src/ui/components/molecules/latestArticles/components/latestArticlesSliderNavigation/index.ts
  src/ui/components/molecules/latestArticles/components/latestArticlesSliderNavigation/latest-articles-slider-navigation.css
  src/ui/components/molecules/latestArticles/index.ts
  src/ui/components/molecules/latestArticles/latest-articles-slider.css
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/latestArticles/latest-articles.css
  tsconfig.paths.json
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add breadcrumbs
  src/actions/index.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/ui/components/molecules/breadcrumbs/Breadcrumbs.astro
  src/ui/components/molecules/breadcrumbs/breadcrumbs.css
  src/ui/components/molecules/breadcrumbs/utils/generateBreadcrumbs/generateBreadcrumbs.ts
  src/ui/components/molecules/breadcrumbs/utils/generateBreadcrumbs/index.ts
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  src/ui/shared/utils/deSlugify/deSlugify.ts
  src/ui/shared/utils/deSlugify/index.ts
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: improve breadcrumbs
  .yarn/install-state.gz
  package.json
  src/assets/images/svg-components/leftArrow/LeftArrow.tsx
  src/consts.ts
  src/pages/contact.astro
  src/ui/components/molecules/breadcrumbs/Breadcrumbs.astro
  src/ui/components/molecules/breadcrumbs/breadcrumbs.css
  src/ui/components/molecules/latestArticles/components/latestArticlesSliderNavigation/LatestArticlesSliderNavigation.tsx
  src/ui/components/organisms/contactForm/ContactForm.tsx
  src/ui/components/organisms/contactForm/utils/encode/encode.ts
  src/ui/components/organisms/contactForm/utils/encode/index.ts
  src/ui/components/organisms/contactIntro/contact-intro.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add breadcrumbs
  .yarn/install-state.gz
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/_articles.css
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/ui/components/molecules/breadcrumbs/breadcrumbs.css
Due: yarn format:all:changed, yarn lint:styles

chore(deps): bump deps
  .yarn/install-state.gz
  package.json
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/_articles.css
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/ui/components/molecules/breadcrumbs/breadcrumbs.css
  src/ui/components/molecules/breadcrumbs/utils/generateBreadcrumbs/generateBreadcrumbs.ts
  src/ui/components/molecules/breadcrumbs/utils/generateBreadcrumbs/index.ts
  src/ui/shared/utils/deSlugify/deSlugify.ts
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

chore(deps): bump deps
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

feat: add breadcrumbs
  src/pages/index.astro
  src/pages/projects.astro
  src/ui/components/molecules/breadcrumbs/breadcrumbs.css
  src/ui/components/organisms/projectsIntro/ProjectsIntro.astro
  src/ui/components/organisms/projectsIntro/projects-intro.css
Due: yarn format:all:changed, yarn lint:styles
