Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

.lintstagedrc.json:

{
	"src/**/*.{ts,tsx,css,astro}": ["pnpm format:changed", "pnpm lint:changed"],
	"src/**/*.{test,spec}.{ts,tsx}": ["pnpm test:ut:changed"]
}

test: intercept the two bare fetches at the network, not by replacing fetch
  CLAUDE.md
  docs/adr/0017-doubles-at-the-seam-the-architecture-declares.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/actions/contact.test.ts
  src/application/entities/articles/articles.test.ts
  src/infrastructure/images/imagePlaceholder/imagePlaceholder.test.ts
  src/infrastructure/utils/guards.test.ts
  tests/doubles/network.ts
  tests/setup/network.ts
  vitest.config.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

chore: pin msw to an exact version like every other dependency
  package.json
  pnpm-lock.yaml
Due: none

test: stop unit tests reaching the real internet, and pin four behaviours a string was standing in for
  docs/adr/0017-doubles-at-the-seam-the-architecture-declares.md
  src/actions/contact.test.ts
  src/application/CLAUDE.md
  src/application/entities/articles/articles.test.ts
  src/application/entities/entities.test.ts
  src/infrastructure/db/client.test.ts
  src/infrastructure/utils/guards.test.ts
  tests/doubles/network.ts
  tests/setup/network.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

fix(ci): stop a long commit message from breaking the deploy
  .github/workflows/_deploy.yml
  CLAUDE.md
Due: none

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

chore(release): 1.19.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ab91a54ff9a664d7e8498c466cca4b0cab37e742
Due: none

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
Due: none

chore(license): reserve all rights on blog content, keep MIT for code
  LICENSE
  README.md
Due: none

chore: rename dev script to start:open, group with start
  CLAUDE.md
  package.json
Due: none

chore(release): 1.19.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  fcfcb84584444400d46b2bc24bd62c0fea703341
Due: none

chore: compose start:open on top of start
  CLAUDE.md
  package.json
Due: none

chore(docs): stop pinning dependency versions in the consistency test
  CLAUDE.md
  docs/docs-consistency.test.ts
Due: none

chore(release): 1.19.3 [skip ci]
  CHANGELOG.md
Due: none

ci: retry preview Worker deletion with backoff
  .github/workflows/cleanup-development.yml
Due: none

ci: retry Cloudflare Workers deploy and secret bulk with backoff
  .github/workflows/_deploy.yml
Due: none

docs(adr): link ADR cross-references instead of naming them in prose
  docs/adr/0001-astro-ssr-on-cloudflare-workers.md
  docs/adr/0002-contentful-headless-cms.md
  docs/adr/0003-drizzle-libsql-turso-over-astro-db.md
  docs/adr/0005-theme-token-families-and-inline-bootstrap.md
  docs/adr/0006-lightningcss-native-css-passthrough.md
  docs/adr/0007-css-scroll-driven-reveal-animations.md
  docs/adr/0008-unregistered-property-color-tokens.md
  docs/adr/0009-css-first-javascript-only-when-necessary.md
  docs/adr/0011-hybrid-rendering-prerender-content-ssr-dynamic.md
  docs/adr/0012-pragmatic-ddd-domain-layer-anti-corruption-layer.md
  docs/adr/0013-analytics-gated-behind-cookie-consent.md
  docs/adr/0014-bem-class-naming.md
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  docs/adr/0017-doubles-at-the-seam-the-architecture-declares.md
Due: none

refactor(testing): rename tests/ to testing/ and reach it through an alias
  CLAUDE.md
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  docs/adr/0017-doubles-at-the-seam-the-architecture-declares.md
  docs/docs-consistency.test.ts
  src/actions/CLAUDE.md
  src/actions/contact.test.ts
  src/application/CLAUDE.md
  src/application/entities/articles/articles.test.ts
  src/application/entities/authors/authors.test.ts
  src/application/entities/entities.test.ts
  src/infrastructure/db/client.test.ts
  src/infrastructure/images/imagePlaceholder/imagePlaceholder.test.ts
  src/infrastructure/utils/guards.test.ts
  src/infrastructure/utils/persistence.test.ts
  testing/doubles/astroEnvClient.ts
  testing/doubles/astroEnvServer.ts
  testing/doubles/astroMiddleware.ts
  testing/doubles/cmsLayer.ts
  testing/doubles/contactLayers.ts
  testing/doubles/network.ts
  testing/setup/network.ts
  tsconfig.json
  vitest.config.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

refactor(testing): keep the folder named tests, reach it through @tests/*
  CLAUDE.md
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  docs/adr/0017-doubles-at-the-seam-the-architecture-declares.md
  docs/docs-consistency.test.ts
  src/actions/CLAUDE.md
  src/actions/contact.test.ts
  src/application/CLAUDE.md
  src/application/entities/articles/articles.test.ts
  src/application/entities/authors/authors.test.ts
  src/application/entities/entities.test.ts
  src/infrastructure/db/client.test.ts
  src/infrastructure/images/imagePlaceholder/imagePlaceholder.test.ts
  src/infrastructure/utils/guards.test.ts
  src/infrastructure/utils/persistence.test.ts
  tests/doubles/astroEnvClient.ts
  tests/doubles/astroEnvServer.ts
  tests/doubles/astroMiddleware.ts
  tests/doubles/cmsLayer.ts
  tests/doubles/contactLayers.ts
  tests/doubles/network.ts
  tests/setup/network.ts
  tsconfig.json
  vitest.config.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

refactor(testing): move tests/ out of the repository root into src/
  CLAUDE.md
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  docs/adr/0017-doubles-at-the-seam-the-architecture-declares.md
  docs/docs-consistency.test.ts
  src/actions/CLAUDE.md
  src/application/CLAUDE.md
  src/tests/doubles/astroEnvClient.ts
  src/tests/doubles/astroEnvServer.ts
  src/tests/doubles/astroMiddleware.ts
  src/tests/doubles/cmsLayer.ts
  src/tests/doubles/contactLayers.ts
  src/tests/doubles/network.ts
  src/tests/setup/network.ts
  tsconfig.json
  vitest.config.ts
Due: pnpm format:changed, pnpm lint:changed

chore: bump version to 1.19.4 to match the recovered release tag
  package.json
Due: none

chore(release): 1.19.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8c8beddb82e872e848bae56c2dbdf994e3e15aa8
Due: none

chore(release): 1.19.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none
