Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

style: improved types
  src/pages/articles/[...slug].astro
  src/pages/index.astro
  src/pages/tags/[slug].astro
  src/ui/components/organisms/articleCard/ArticleCard.astro
Due: yarn format:all:changed, yarn lint:ts:changed

chore: fix build method
  src/infrastructure/email/server.ts
  src/infrastructure/firebase/server.ts
  src/pages/rss.xml.ts
  wrangler.toml
Due: yarn format:all:changed, yarn lint:ts:changed

chore: fix build method
  .yarn/install-state.gz
  astro.config.mjs
  package.json
  src/actions/index.ts
  src/const/const.ts
  src/const/types.ts
  src/infrastructure/email/server.ts
  src/pages/articles/[...slug].astro
  src/pages/rss.xml.ts
  src/pages/tags/[slug].astro
  src/pages/tags/index.astro
  tsconfig.paths.json
  wrangler.toml
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add tag page
  .yarn/install-state.gz
  astro.config.mjs
  package.json
  src/pages/index.astro
  src/pages/tags/[slug].astro
  src/pages/tags/_tag.css
  src/ui/components/organisms/articleCard/article-card.css
  src/ui/components/organisms/articleCard/utils/getLocation/getLocation.ts
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

style: changed articleDTO signature
  src/application/dto/article/articleDTO.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/tag/tagDTO.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/rss.xml.ts
  src/pages/tags/[slug].astro
  src/pages/tags/_tag.css
  src/pages/tags/index.astro
  src/ui/components/organisms/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/articleCard/ArticleCard.tsx
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/littleMoreOfMe/LittleMoreOfMe.astro
  src/ui/components/organisms/relatedArticles/RelatedArticles.astro
  src/ui/shared/ui/utils/deSlugify/deSlugify.ts
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: types
  src/ui/components/organisms/articleCard/ArticleCard.tsx
  src/ui/components/organisms/articleCard/components/articleCardExcerpt/ArticleCardExcerpt.tsx
Due: yarn format:all:changed, yarn lint:ts:changed

fix: import
  src/ui/components/organisms/articleCard/ArticleCard.tsx
Due: yarn format:all:changed, yarn lint:ts:changed

chore(deps): bump deps
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

chore(deps): bump deps
  .yarn/install-state.gz
  package.json
  src/actions/index.ts
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: transition to react component
  .yarn/install-state.gz
  package.json
  src/pages/about.astro
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/organisms/littleMoreOfMe/LittleMoreOfMe.tsx
  src/ui/components/organisms/littleMoreOfMe/index.ts
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add Image component + refactor images in DTOs
  .yarn/install-state.gz
  package.json
  src/application/dto/article/articleDTO.ts
  src/application/dto/article/types.ts
  src/application/dto/article/utils/getAuthor/getAuthor.ts
  src/application/dto/article/utils/getRelatedArticles/getRelatedArticles.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/author/types.ts
  src/env.d.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/ui/components/atoms/Image/Image.tsx
  src/ui/components/atoms/Image/index.ts
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/molecules/aboutIntro/AboutIntro.astro
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/cityCard/components/cityImage/CityImage.tsx
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  src/ui/components/molecules/testimonial/components/testimonialImage/TestimonialImage.tsx
  src/ui/components/molecules/testimonial/components/testimonialQuote/TestimonialQuote.tsx
  src/ui/components/organisms/articleCard/ArticleCard.astro
  src/ui/components/organisms/articleCard/ArticleCard.tsx
  src/ui/components/organisms/articleCard/components/articleCardImage/ArticleCardImage.tsx
  src/ui/components/organisms/featuredArticle/FeaturedArticle.astro
  src/ui/components/organisms/slider/components/SliderNavigation/SliderNavigation.tsx
  src/ui/components/organisms/testimonials/Testimonials.astro
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add testmimonials CMS implementation
  .yarn/install-state.gz
  src/application/dto/breadcrumb/breadcrumbDTO.ts
  src/application/dto/breadcrumb/types.ts
  src/application/dto/testimonial/index.ts
  src/application/dto/testimonial/testimonialDTO.ts
  src/application/dto/testimonial/types.ts
  src/ui/components/molecules/testimonialsSlider/TestimonialsSlider.tsx
  src/ui/components/organisms/testimonials/Testimonials.astro
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add common method to generate DTO images
  src/application/dto/article/articleDTO.ts
  src/application/dto/article/types.ts
  src/application/dto/article/utils/getAuthor/getAuthor.ts
  src/application/dto/article/utils/getRelatedArticles/getRelatedArticles.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/author/types.ts
  src/application/dto/testimonial/testimonialDTO.ts
  src/application/dto/testimonial/types.ts
  src/pages/index.astro
  src/shared/application/dto/utils/createImage/createImage.ts
  src/shared/application/dto/utils/createImage/index.ts
  src/shared/application/types/index.ts
  src/ui/components/atoms/Image/Image.tsx
  src/ui/components/atoms/Image/index.ts
Due: yarn format:all:changed, yarn lint:ts:changed

fix: small layout issues
  src/pages/tags/[slug].astro
  src/pages/tags/_tag.css
  src/shared/application/dto/utils/createImage/createImage.ts
  src/ui/components/organisms/featuredArticle/featured-article.css
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add cities and map CMS integration
  .yarn/install-state.gz
  package.json
  src/application/dto/article/articleDTO.ts
  src/application/dto/article/utils/generateExcerpt/generateExcerpt.ts
  src/application/dto/article/utils/generateExcerpt/index.ts
  src/application/dto/city/cityDTO.ts
  src/application/dto/city/index.ts
  src/application/dto/city/types.ts
  src/application/dto/city/utils/parseDates/index.ts
  src/application/dto/city/utils/parseDates/parseDates.ts
  src/pages/about.astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/shared/application/types/index.ts
  src/shared/application/utils/generateExcerpt/index.ts
  src/shared/application/utils/getFeaturedArticle/index.ts
  src/shared/ui/utils/getFeaturedArticle/getFeaturedArticle.ts
  src/shared/ui/utils/getFeaturedArticle/index.ts
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/atoms/worldGlobe/utils/calculateCenter/calculateCenter.ts
  src/ui/components/atoms/worldGlobe/utils/refineCities/refineCities.ts
  src/ui/components/atoms/worldGlobe/utils/renderPin/renderPin.ts
  src/ui/components/molecules/aboutIntro/AboutIntro.astro
  src/ui/components/molecules/cityCard/CityCard.tsx
  src/ui/components/molecules/cityCard/city-card.css
  src/ui/components/molecules/cityCard/components/cityImage/city-image.css
  src/ui/components/molecules/cityCard/components/cityName/CityName.tsx
  src/ui/components/organisms/aboutLatestArticles/about-latest-articles.css
  src/ui/components/organisms/cities/Cities.tsx
  src/ui/components/organisms/littleMoreOfMe/LittleMoreOfMe.tsx
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

perf: improved performance in tags request
  .yarn/install-state.gz
  package.json
  src/application/dto/article/types.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/author/types.ts
  src/application/dto/project/index.ts
  src/application/dto/project/projectDTO.ts
  src/application/dto/project/types.ts
  src/application/dto/tag/tagDTO.ts
  src/application/dto/tag/types.ts
  src/application/dto/tag/utils/getArticles/getArticles.ts
  src/application/dto/tag/utils/getArticles/index.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/pages/tags/[slug].astro
  src/pages/tags/index.astro
  src/ui/components/molecules/aboutIntro/AboutIntro.astro
  src/ui/components/molecules/welcome/Welcome.astro
  src/ui/components/organisms/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/footer/Footer.astro
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/myWork/MyWork.astro
  src/ui/components/organisms/myWork/my-work.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: remove unnecessary prop lifting
  src/application/dto/tag/utils/getArticlesByTag/getArticlesByTag.ts
  src/application/dto/tag/utils/getArticlesByTag/index.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/tags/index.astro
  src/shared/ui/components/articleCard/ArticleCard.astro
  src/shared/ui/components/articleCard/utils/getLocation/getLocation.ts
  src/shared/ui/components/breadcrumbs/Breadcrumbs.astro
  src/shared/ui/components/breadcrumbs/breadcrumbs.css
  src/ui/modules/projects/components/projectsIntro/ProjectsIntro.astro
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add related article card
  .yarn/install-state.gz
  package.json
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/tags/[slug].astro
  src/shared/ui/components/articleCard/ArticleCard.astro
  src/shared/ui/components/articleCard/ArticleCard.tsx
  src/shared/ui/components/articleCard/atoms/articleCardImage/ArticleCardImage.tsx
  src/shared/ui/components/baseLayout/BaseLayout.astro
  src/shared/ui/components/breadcrumbs/Breadcrumbs.astro
  src/shared/ui/components/head/Head.astro
  src/shared/ui/components/header/atoms/headerLink/HeaderLink.astro
  src/shared/ui/components/header/atoms/menu/Menu.astro
  src/shared/ui/components/image/Image.tsx
  src/shared/ui/components/image/index.ts
  src/shared/ui/components/latestArticles/LatestArticles.astro
  src/shared/ui/components/latestArticles/atoms/latestArticlesSlider/LatestArticlesSlider.tsx
  src/shared/ui/components/latestArticles/atoms/latestArticlesSlider/index.ts
  src/shared/ui/components/latestArticles/atoms/latestArticlesSlider/latest-articles-slider.css
  src/shared/ui/components/relatedArticles/RelatedArticles.astro
  src/shared/ui/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/shared/ui/components/relatedArticles/atoms/relatedArticleCard/related-article-card.css
  src/shared/ui/components/relatedArticles/related-articles.css
  src/shared/ui/components/slider/atoms/SliderNavigation/SliderNavigation.tsx
  src/shared/ui/utils/getLocation/getLocation.ts
  src/shared/ui/utils/getLocation/index.ts
  src/ui/modules/about/components/cityCard/atoms/cityImage/CityImage.tsx
  src/ui/modules/about/components/worldGlobe/WorldGlobe.tsx
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/home/components/testimonial/atoms/testimonialImage/TestimonialImage.tsx
  src/ui/modules/home/components/testimonial/atoms/testimonialQuote/TestimonialQuote.tsx
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

style: add biome parser
  package.json
  src/shared/ui/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
Due: yarn format:all:changed, yarn lint:ts:changed

chore(deps): remove wrangler
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

feat: refine folder structure
  src/application/dto/author/authorDTO.ts
  src/application/dto/tag/tagDTO.ts
  src/infrastructure/cms/client.ts
  src/infrastructure/database/server.ts
  src/infrastructure/email/server.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/pages/tags/[slug].astro
  src/pages/tags/index.astro
  src/shared/ui/components/latestArticles/LatestArticles.astro
  src/ui/modules/about/components/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/home/components/myWork/MyWork.astro
  src/ui/modules/home/components/testimonials/Testimonials.astro
  tsconfig.paths.json
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add reading time to DTO
  .yarn/install-state.gz
  src/application/dto/article/articleDTO.ts
  src/application/dto/article/types.ts
  src/application/dto/article/utils/getReadingTime/getReadingTime.ts
  src/application/dto/article/utils/getReadingTime/index.ts
  src/application/dto/article/utils/getRelatedArticles/getRelatedArticles.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/tag/tagDTO.ts
  src/shared/ui/components/articleCard/ArticleCard.astro
  src/shared/ui/components/articleCard/ArticleCard.tsx
  src/shared/ui/components/articleCard/article-card.css
  src/shared/ui/components/articleCard/atoms/articleCardReadingTime/ArticleCardReadingTime.tsx
  src/shared/ui/components/articleCard/atoms/articleCardReadingTime/article-card-reading-time.css
  src/shared/ui/components/articleCard/atoms/articleCardReadingTime/index.ts
  src/shared/ui/components/latestArticles/atoms/latestArticlesSlider/LatestArticlesSlider.tsx
  src/ui/modules/about/components/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/modules/about/components/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

chore(deps): bump deps
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  src/shared/ui/components/articleCard/ArticleCard.astro
  src/shared/ui/components/latestArticles/atoms/latestArticlesSlider/LatestArticlesSlider.tsx
  src/ui/modules/about/components/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

fix: small fixes
  .env.example
  .yarn/install-state.gz
  astro.config.mjs
  package.json
  scripts/get-tsconfig.cjs
  src/actions/index.ts
  src/env.d.ts
  src/infrastructure/search/client.ts
  src/pages/articles/_articles.css
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/rss.xml.ts
  src/pages/tags/_tag.css
  src/shared/ui/components/articleCard/article-card.css
  src/shared/ui/components/articleCard/atoms/articleCardImage/ArticleCardImage.tsx
  src/shared/ui/components/articleCard/atoms/articleCardReadingTime/article-card-reading-time.css
  src/shared/ui/components/relatedArticles/RelatedArticles.astro
  src/shared/ui/components/relatedArticles/atoms/relatedArticleCard/related-article-card.css
  src/ui/modules/about/components/worldGlobe/WorldGlobe.tsx
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: build errors
  .gitignore
  .yarn/install-state.gz
  astro.config.ts
  package.json
  src/infrastructure/search/client.ts
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

chore(deps): bump deps
  .yarn/install-state.gz
  astro.config.ts
  src/pages/index.astro
Due: yarn format:all:changed, yarn lint:ts:changed

fix: count tags
  src/application/dto/tag/tagDTO.ts
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add screaming arch
  src/actions/index.ts
  src/application/dto/breadcrumb/breadcrumbDTO.ts
  src/infrastructure/email/server.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/pages/tags/[slug].astro
  src/pages/tags/index.astro
  src/ui/modules/about/components/worldGlobe/WorldGlobe.tsx
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/ArticleCard.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardImage/ArticleCardImage.tsx
  src/ui/modules/core/components/baseLayout/BaseLayout.astro
  src/ui/modules/core/components/breadcrumbs/Breadcrumbs.astro
  src/ui/modules/core/components/cookieConsent/CookieConsent.tsx
  src/ui/modules/core/components/footer/Footer.astro
  src/ui/modules/core/components/header/Header.astro
  src/ui/modules/core/components/latestArticles/atoms/latestArticlesSlider/LatestArticlesSlider.tsx
  src/ui/modules/core/components/slider/atoms/SliderNavigation/SliderNavigation.tsx
  src/ui/modules/home/components/testimonial/atoms/testimonialImage/TestimonialImage.tsx
  src/ui/modules/home/components/testimonial/atoms/testimonialQuote/TestimonialQuote.tsx
  src/ui/modules/home/components/testimonialsSlider/TestimonialsSlider.tsx
  src/ui/modules/projects/components/projectsIntro/ProjectsIntro.astro
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add reading progress-bar
  src/pages/articles/[...slug].astro
  src/pages/index.astro
  src/ui/modules/articles/components/readingProgress/ReadingProgress.astro
  src/ui/modules/articles/components/readingProgress/reading-progress.css
  src/ui/modules/articles/utils/getReadingProgress/getReadingProgress.ts
  src/ui/modules/core/components/emailButton/EmailButton.astro
  src/ui/modules/core/components/header/Header.astro
  src/ui/modules/core/components/header/atoms/menuButton/menu-button.css
  src/ui/modules/core/components/header/utils/toggleMenu/toggleMenu.ts
  src/ui/modules/core/components/slider/Slider.tsx
  src/ui/modules/core/components/themeToggle/ThemeToggle.astro
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add env schema
  .env.example
  .yarn/install-state.gz
  astro.config.ts
  package.json
  src/const/const.ts
  src/env.d.ts
  src/infrastructure/cms/client.ts
  src/infrastructure/database/server.ts
  src/infrastructure/email/server.ts
  src/infrastructure/search/client.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/contact.astro
  src/ui/modules/about/components/aboutIntro/AboutIntro.astro
  src/ui/modules/about/components/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/modules/about/components/cityCard/atoms/cityImage/CityImage.tsx
  src/ui/modules/about/components/cityCard/atoms/cityName/CityName.tsx
  src/ui/modules/about/components/worldGlobe/WorldGlobe.tsx
  src/ui/modules/about/hooks/useTabVisibility/useTabVisibility.ts
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/contact/components/contactFormProvider/ContactFormProvider.tsx
  src/ui/modules/core/components/baseLayout/BaseLayout.astro
  src/ui/modules/core/components/head/Head.astro
  src/ui/modules/core/components/latestArticles/LatestArticles.astro
  src/ui/modules/core/components/slider/Slider.tsx
  src/ui/modules/core/components/slider/hooks/useSliderNavigation/useSliderNavigation.ts
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: seo improvements
  src/ui/assets/images/jpg/creative-direction.jpg
  src/ui/assets/images/jpg/stories-of-impact.jpg
  src/ui/assets/images/jpg/thought-leadership.jpg
  src/ui/assets/images/jpg/web-content.jpg
Due: none

feat: seo improvements
  .yarn/install-state.gz
  package.json
  src/const/const.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/pages/tags/index.astro
  src/ui/modules/articles/components/readingProgress/ReadingProgress.astro
  src/ui/modules/articles/utils/getReadingProgress/getReadingProgress.ts
  src/ui/modules/core/components/baseLayout/BaseLayout.astro
  src/ui/modules/core/components/head/Head.astro
  src/ui/modules/core/components/scrollTop/ScrollTop.astro
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

fix: x seo
  .yarn/install-state.gz
  src/application/dto/article/articleDTO.ts
  src/const/const.ts
  src/pages/index.astro
  src/pages/privacy-policy.astro
  src/pages/terms-and-conditions.astro
  src/ui/modules/core/components/head/Head.astro
Due: yarn format:all:changed, yarn lint:ts:changed

fix: seo improvements
  .env.example
  .yarn/install-state.gz
  astro.config.ts
  package.json
  src/const/const.ts
  src/env.d.ts
  src/pages/index.astro
  src/ui/modules/core/components/head/Head.astro
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

Path conditions:
  yarn format:all:changed: any of: src/**/*.{ts,tsx,css,astro}
  yarn lint:ts:changed: any of: src/**/*.{ts,tsx,astro}
  yarn lint:styles: any of: src/**/*.css
