Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

refactor(styles): declare current-page in modifiers.css
  src/ui/modules/CLAUDE.md
  src/ui/modules/core/components/breadcrumbs/breadcrumbs.css
  src/ui/styles/CLAUDE.md
  src/ui/styles/global/modifiers.css
Due: pnpm format:changed, pnpm lint:changed

refactor(application): make every DTO create synchronous
  docs/docs-consistency.test.ts
  src/application/CLAUDE.md
  src/application/dto/author/authorDTO.ts
  src/application/dto/tag/tagDTO.ts
  src/application/entities/authors/authors.ts
  src/application/entities/tags/tags.ts
Due: pnpm format:changed, pnpm lint:changed

fix(actions): stop a failed contact save from reporting a delivered message as an error
  docs/docs-consistency.test.ts
  src/actions/CLAUDE.md
  src/actions/index.ts
Due: pnpm format:changed, pnpm lint:changed

refactor(actions): log through Effect's Logger instead of console
  CLAUDE.md
  biome.json
  docs/docs-consistency.test.ts
  src/actions/CLAUDE.md
  src/actions/index.ts
Due: pnpm format:changed, pnpm lint:changed

test(docs): name every regex in the consistency test
  docs/docs-consistency.test.ts
Due: none

test: give the repo the unit and e2e suites it never had
  CLAUDE.md
  docs/docs-consistency.test.ts
  e2e/theme-toggle.spec.ts
  package.json
  playwright.config.ts
  src/actions/CLAUDE.md
  src/actions/contact.test.ts
  src/actions/contact.ts
  src/actions/index.ts
  src/application/CLAUDE.md
  src/application/dto/article/articleDTO.test.ts
  src/application/dto/author/authorDTO.test.ts
  src/application/dto/city/cityDTO.test.ts
  src/application/dto/project/projectDTO.test.ts
  src/application/dto/tag/tagDTO.test.ts
  src/application/dto/testimonial/testimonialDTO.test.ts
  src/domain/article/rules.test.ts
  src/domain/breadcrumb/rules.test.ts
  src/domain/city/rules.test.ts
  src/domain/contact/schema.ts
  src/infrastructure/images/imageOptimization/imageOptimization.test.ts
  src/infrastructure/images/imagePlaceholder/imagePlaceholder.test.ts
  src/infrastructure/utils/email.test.ts
  src/infrastructure/utils/guards.test.ts
  src/infrastructure/utils/persistence.test.ts
  src/middleware.ts
  src/shared/utils/dates.test.ts
  src/shared/utils/objects.test.ts
  src/shared/utils/strings.test.ts
  src/ui/modules/CLAUDE.md
  src/ui/styles/CLAUDE.md
  tests/doubles/astroEnvClient.ts
  tests/doubles/astroEnvServer.ts
  tests/doubles/contactLayers.ts
  vitest.config.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

fix: repair the nine defects the new test suites uncovered
  src/actions/CLAUDE.md
  src/application/dto/article/articleDTO.test.ts
  src/domain/article/rules.test.ts
  src/domain/article/rules.ts
  src/domain/city/rules.test.ts
  src/domain/city/rules.ts
  src/infrastructure/CLAUDE.md
  src/infrastructure/images/imageOptimization/imageOptimization.test.ts
  src/infrastructure/images/imageOptimization/imageOptimization.ts
  src/infrastructure/utils/email.test.ts
  src/infrastructure/utils/email.tsx
  src/infrastructure/utils/persistence.test.ts
  src/infrastructure/utils/persistence.ts
  src/shared/utils/dates.test.ts
  src/shared/utils/dates.ts
  src/shared/utils/objects.test.ts
  src/shared/utils/objects.ts
  src/shared/utils/strings.test.ts
  src/shared/utils/strings.ts
  tests/doubles/contactLayers.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

docs: re-audit every guide against the code this session changed
  .github/workflows/ci.yml
  CLAUDE.md
  CONTEXT.md
  README.md
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  docs/docs-consistency.test.ts
  e2e/breadcrumbs.spec.ts
  e2e/contact-form.spec.ts
  e2e/navigation.spec.ts
  src/actions/CLAUDE.md
  src/actions/contact.test.ts
  src/application/CLAUDE.md
  src/application/dto/article/articleDTO.test.ts
  src/application/dto/article/utils/content.ts
  src/application/dto/author/authorDTO.test.ts
  src/application/dto/author/utils/articles.ts
  src/application/dto/project/projectDTO.test.ts
  src/application/dto/tag/tagDTO.test.ts
  src/application/entities/authors/authors.ts
  src/domain/CLAUDE.md
  src/domain/article/rules.test.ts
  src/domain/article/rules.ts
  src/infrastructure/CLAUDE.md
  src/infrastructure/utils/email.test.ts
  src/infrastructure/utils/persistence.test.ts
  src/pages/rss.xml.ts
  src/shared/utils/dates.test.ts
  src/shared/utils/objects.test.ts
  src/ui/modules/CLAUDE.md
  src/ui/modules/article/components/tableOfContents/TableOfContents.astro
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/styles/CLAUDE.md
  tests/doubles/astroEnvClient.ts
  tests/doubles/contactLayers.ts
  vitest.config.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

test: give the React islands a DOM, and make the stylesheet claims executable
  CONTEXT.md
  docs/docs-consistency.test.ts
  package.json
  pnpm-lock.yaml
  src/domain/article/rules.test.ts
  src/domain/article/rules.ts
  src/ui/modules/core/components/cookieConsent/CookieConsent.test.tsx
  src/ui/modules/core/components/form/input/Input.test.tsx
  src/ui/modules/core/components/form/textarea/Textarea.test.tsx
  src/ui/modules/core/components/spinner/Spinner.test.tsx
  src/ui/styles/CLAUDE.md
  src/ui/styles/global/variables.css
  vitest.config.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

fix: reindex tests/ after the docs guard test moved out of it
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  docs/docs-consistency.test.ts
Due: none

ci: drop the redundant build step from the check job
  .github/workflows/ci.yml
Due: none

ci: do not start a dev server when e2e runs against a deployment
  playwright.config.ts
Due: none

ci: send the Cloudflare Access credentials the e2e job never had
  .github/workflows/ci.yml
  playwright.config.ts
Due: none

test: keep only the e2e the preview can actually run
  CLAUDE.md
  e2e/breadcrumbs.spec.ts
  e2e/contact-form.spec.ts
  e2e/navigation.spec.ts
  vitest.config.ts
Due: none

fix: close three holes an adversarial pass found in the safety net
  docs/adr/0015-docs-consistency-enforced-by-a-test.md
  docs/docs-consistency.test.ts
  src/application/dto/article/articleDTO.test.ts
  src/application/dto/article/utils/content.ts
  src/shared/utils/dates.test.ts
  vitest.config.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

docs: correct two claims this session's own fixes invalidated, and finish the escaping
  CONTEXT.md
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  src/application/dto/article/utils/content.ts
Due: pnpm format:changed, pnpm lint:changed

refactor: delete the heading section code that never ran
  src/application/dto/article/articleDTO.test.ts
  src/application/dto/article/utils/content.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

fix: number the scroll timelines by section, and refuse a link scheme that executes
  src/application/dto/article/articleDTO.test.ts
  src/application/dto/article/utils/content.ts
  src/shared/utils/strings.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

refactor(styles): put the loose font sizes on the container-scaled clamp
  src/ui/modules/article/components/columnsToggle/columns-toggle.css
  src/ui/modules/contact/components/contactForm/contact-form.css
  src/ui/modules/core/components/errorLayer/error-layer.css
  src/ui/modules/core/components/form/input/input.css
  src/ui/modules/core/components/form/shared.css
  src/ui/modules/core/components/form/textarea/textarea.css
  src/ui/modules/core/components/header/atoms/menu/menu.css
  src/ui/modules/core/components/header/atoms/menuButton/menu-button.css
  src/ui/modules/home/components/myWork/my-work.css
  src/ui/modules/home/components/testimonialsSlider/testimonials-slider.css
  src/ui/styles/CLAUDE.md
Due: pnpm format:changed, pnpm lint:changed

test: guard the guards, and reach the loaders at last
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  docs/docs-consistency.test.ts
  src/application/CLAUDE.md
  src/application/entities/articles/articles.test.ts
  src/application/entities/authors/authors.test.ts
  src/domain/city/rules.test.ts
  src/middleware.test.ts
  src/shared/utils/dates.test.ts
  tests/doubles/astroMiddleware.ts
  tests/doubles/cmsLayer.ts
  vitest.config.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

test: intercept the two bare fetches at the network, not by replacing fetch
  CLAUDE.md
  docs/adr/0017-doubles-at-the-seam-the-architecture-declares.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/actions/contact.test.ts
  src/application/entities/articles/articles.test.ts
  src/infrastructure/images/imagePlaceholder/imagePlaceholder.test.ts
  src/infrastructure/utils/guards.test.ts
  tests/doubles/network.ts
  tests/setup/network.ts
  vitest.config.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

Path conditions:
  pnpm format:changed: any of: src/**/*.{ts,tsx,css,astro}
  pnpm lint:changed: any of: src/**/*.{ts,tsx,css,astro}
  pnpm test:ut:changed: any of: src/**/*.{test,spec}.{ts,tsx}
