Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:changed, yarn lint:ts:changed, yarn test:changed

.lintstagedrc.json:

{
	"src/**/*.{ts,tsx,css,astro}": ["yarn format:changed"],
	"src/**/*.{ts,tsx,astro}": ["yarn lint:ts:changed"],
	"src/**/*.{test,spec}.{ts,tsx}": ["yarn test:changed"]
}

docs: add todo
  src/pages/index.astro
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed

feat: add anti spam check
  .nvmrc
  src/actions/index.ts
  src/application/dto/article/utils/generateExcerpt/index.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/author/utils/getArticlesByAuthor.ts
  src/application/entities/articles/articles.ts
  src/const/const.ts
  src/domain/errors/Exception.ts
  src/domain/errors/index.ts
  src/infrastructure/email/server.ts
  src/infrastructure/utils/getContactData/getContactData.ts
  src/infrastructure/utils/getContactData/index.ts
  src/infrastructure/utils/sendEmail/index.ts
  src/infrastructure/utils/sendEmail/sendEmail.ts
  src/pages/about.astro
  src/pages/index.astro
  src/shared/ui/types.ts
  src/ui/modules/about/components/aboutLatestArticlesSlider/index.ts
  src/ui/modules/about/components/cities/index.ts
  src/ui/modules/about/components/cityCard/atoms/cityDescription/index.ts
  src/ui/modules/about/components/cityCard/atoms/cityImage/index.ts
  src/ui/modules/about/components/cityCard/atoms/cityName/index.ts
  src/ui/modules/about/components/cityCard/atoms/cityPeriod/index.ts
  src/ui/modules/about/components/cityCard/index.ts
  src/ui/modules/about/components/littleMoreOfMe/LittleMoreOfMe.tsx
  src/ui/modules/about/components/littleMoreOfMe/index.ts
  src/ui/modules/about/components/worldGlobe/index.ts
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/contact/components/contactForm/index.ts
  src/ui/modules/contact/components/contactFormProvider/index.ts
  src/ui/modules/core/components/articleCard/ArticleCard.tsx
  src/ui/modules/core/components/latestArticles/LatestArticles.astro
  src/ui/modules/core/components/slider/atoms/SliderNavigation/index.ts
  src/ui/modules/core/components/slider/index.ts
  src/ui/modules/home/components/testimonialsSlider/index.ts
  tsconfig.json
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed

feat: improve isolation
  src/actions/index.ts
  src/domain/errors/utils/createException.ts
  src/domain/errors/utils/index.ts
  src/infrastructure/utils/getContactData/index.ts
  src/infrastructure/utils/isDuplicatedContact/index.ts
  src/infrastructure/utils/isDuplicatedContact/isDuplicatedContact.ts
  src/infrastructure/utils/validateContact/index.ts
  src/infrastructure/utils/validateContact/validateContact.ts
  src/pages/index.astro
  src/shared/ui/types.ts
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/contact/utils/getErrorMessage/getErrorMessage.ts
  src/ui/modules/contact/utils/getErrorMessage/index.ts
Due: yarn format:changed, yarn lint:ts:changed

perf: add better exception control
  src/actions/index.ts
  src/infrastructure/utils/isDuplicatedContact/isDuplicatedContact.ts
  src/infrastructure/utils/saveContact/index.ts
  src/infrastructure/utils/saveContact/saveContact.ts
  src/infrastructure/utils/sendEmail/sendEmail.ts
  src/infrastructure/utils/validateContact/validateContact.ts
  src/pages/index.astro
Due: yarn format:changed, yarn lint:ts:changed

ci: drop JS support
  .github/workflows/codeql-analysis.yml
Due: none

perf: remove boilerplate
  package.json
  src/actions/index.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/author/utils/getArticlesByAuthor.ts
  src/application/entities/articles/articles.ts
  src/application/entities/contact/schema.ts
  src/const/const.ts
  src/domain/errors/Exception.ts
  src/domain/errors/utils/createException.ts
  src/domain/errors/utils/index.ts
  src/infrastructure/utils/isDuplicatedContact/isDuplicatedContact.ts
  src/infrastructure/utils/saveContact/saveContact.ts
  src/infrastructure/utils/sendEmail/index.ts
  src/infrastructure/utils/sendEmail/sendEmail.ts
  src/infrastructure/utils/validateContact/validateContact.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/index.astro
  src/pages/projects.astro
  src/pages/tags/[slug].astro
  src/pages/tags/index.astro
  src/shared/ui/types.ts
  src/ui/modules/about/components/littleMoreOfMe/LittleMoreOfMe.tsx
  src/ui/modules/article/components/articleDetails/ArticleDetails.astro
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/contact/utils/getErrorMessage/getErrorMessage.ts
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/ArticleCard.tsx
  src/ui/modules/core/components/baseLayout/BaseLayout.astro
  src/ui/modules/core/components/breadcrumbs/Breadcrumbs.astro
  src/ui/modules/core/components/errorLayer/ErrorLayer.astro
  src/ui/modules/core/components/footer/Footer.astro
  src/ui/modules/core/components/header/atoms/menu/Menu.astro
  src/ui/modules/core/components/latestArticles/LatestArticles.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/components/socialNetworks/SocialNetworks.astro
  src/ui/modules/core/components/spinner/spinner.css
  src/ui/modules/home/components/myWork/MyWork.astro
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed

feat: major improvements on contact form
  .stylelintrc.cjs
  package.json
  src/actions/index.ts
  src/domain/errors/Exception.ts
  src/infrastructure/utils/checkDuplicatedEntries/checkDuplicatedEntries.ts
  src/infrastructure/utils/checkDuplicatedEntries/index.ts
  src/infrastructure/utils/createEmail/createEmail.ts
  src/infrastructure/utils/createEmail/index.ts
  src/infrastructure/utils/isDuplicatedContact/index.ts
  src/infrastructure/utils/saveContact/saveContact.ts
  src/infrastructure/utils/sendEmail/sendEmail.ts
  src/infrastructure/utils/validateContact/validateContact.ts
  src/pages/index.astro
  src/ui/assets/images/svg-components/cookie/Cookie.tsx
  src/ui/assets/images/svg-components/infinite/Infinite.tsx
  src/ui/assets/images/svg-components/infinite/index.ts
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/contact/components/contactForm/contact-form.css
  src/ui/modules/core/components/spinner/Spinner.tsx
  src/ui/modules/core/components/spinner/spinner.css
  src/ui/styles/global/animations.css
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed

feat: add shared button component
  src/ui/assets/images/svg/left-arrow.svg
  src/ui/modules/about/components/aboutIntro/AboutIntro.astro
  src/ui/modules/about/components/aboutIntro/about-intro.css
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/articles/components/featuredArticle/featured-article.css
  src/ui/modules/core/components/linkWithArrow/LinkWithArrow.astro
  src/ui/modules/core/components/linkWithArrow/link-with-arrow.css
Due: yarn format:changed, yarn lint:ts:changed

style: aliased paths
  src/ui/modules/about/components/aboutIntro/AboutIntro.astro
Due: yarn format:changed, yarn lint:ts:changed

chore(deps): bump Node
  .nvmrc
  package.json
  src/pages/articles/_article.css
  src/pages/articles/index.astro
  src/ui/modules/about/components/aboutIntro/AboutIntro.astro
  src/ui/modules/article/components/articleDetails/ArticleDetails.astro
  src/ui/modules/article/components/articleDetails/article-details.css
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/core/components/articleCard/article-card.css
  src/ui/modules/core/components/articleCard/atoms/articleCardAuthor/article-card-author.css
  src/ui/modules/core/components/articleCard/atoms/articleCardExcerpt/article-card-excerpt.css
  src/ui/modules/core/components/articleCard/atoms/articleCardImage/article-card-image.css
  src/ui/modules/core/components/articleCard/atoms/articleCardPublishDate/article-card-publish-date.css
  src/ui/modules/core/components/articleCard/atoms/articleCardReadingTime/article-card-reading-time.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTagsList/article-card-tags-list.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTitle/article-card-title.css
  src/ui/modules/core/components/linkWithArrow/LinkWithArrow.astro
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed

style: small improvements + rename
  src/pages/projects.astro
  src/pages/tags/[slug].astro
  src/pages/tags/index.astro
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/ArticleCard.tsx
  src/ui/modules/core/components/articleCard/article-card.css
  src/ui/modules/core/components/articleCard/atoms/articleCardAuthor/ArticleCardAuthor.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardAuthor/article-card-author.css
  src/ui/modules/core/components/articleCard/atoms/articleCardExcerpt/ArticleCardExcerpt.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardExcerpt/article-card-excerpt.css
  src/ui/modules/core/components/articleCard/atoms/articleCardImage/ArticleCardImage.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardImage/article-card-image.css
  src/ui/modules/core/components/articleCard/atoms/articleCardPublishDate/ArticleCardPublishDate.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardPublishDate/article-card-publish-date.css
  src/ui/modules/core/components/articleCard/atoms/articleCardReadingTime/ArticleCardReadingTime.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardReadingTime/article-card-reading-time.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTagItem/ArticleCardTagItem.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardTagItem/article-card-tag-item.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTagsList/ArticleCardTagsList.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardTagsList/article-card-tags-list.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTitle/ArticleCardTitle.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardTitle/article-card-title.css
  src/ui/modules/core/components/footer/Footer.astro
  src/ui/modules/core/components/linkWithArrow/LinkWithArrow.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/related-article-card.css
Due: yarn format:changed, yarn lint:ts:changed

feat: improve a11
  package.json
  src/pages/articles/_article.css
  src/ui/modules/about/components/aboutIntro/about-intro.css
  src/ui/modules/contact/components/contactForm/contact-form.css
  src/ui/modules/core/components/header/atoms/menu/menu.css
  src/ui/modules/home/components/welcome/welcome.css
  yarn.lock
Due: yarn format:changed

feat: improve a11
  src/ui/modules/contact/components/contactForm/contact-form.css
Due: yarn format:changed

fix: minor style improvements
  src/pages/articles/_article.css
  src/pages/articles/_articles.css
  src/pages/index.astro
  src/pages/tags/_tag.css
  src/ui/modules/about/components/aboutLatestArticles/about-latest-articles.css
  src/ui/modules/about/components/cities/cities.css
  src/ui/modules/about/components/cityCard/atoms/cityName/city-name.css
  src/ui/modules/about/components/littleMoreOfMe/little-more-of-me.css
  src/ui/modules/contact/components/contactForm/contact-form.css
  src/ui/modules/core/components/articleCard/article-card.css
  src/ui/modules/core/components/breadcrumbs/breadcrumbs.css
  src/ui/modules/core/components/header/atoms/menu/menu.css
  src/ui/modules/core/components/header/atoms/menuButton/menu-button.css
  src/ui/modules/core/components/latestArticles/atoms/latestArticlesSlider/latest-articles-slider.css
  src/ui/modules/core/components/spinner/spinner.css
  src/ui/modules/core/components/themeToggle/theme-toggle.css
  src/ui/modules/home/components/myWork/my-work.css
  src/ui/modules/home/components/testimonial/atoms/testimonialAuthor/testimonial-author.css
  src/ui/modules/home/components/testimonial/atoms/testimonialDescription/testimonial-description.css
  src/ui/modules/home/components/testimonial/atoms/testimonialQuote/testimonial-quote.css
  src/ui/modules/home/components/testimonial/testimonial.css
  src/ui/modules/home/components/testimonials/testimonials.css
  src/ui/modules/home/components/welcome/welcome.css
  src/ui/modules/legal/components/legalSection/legal-section.css
  src/ui/styles/base/base.css
Due: yarn format:changed, yarn lint:ts:changed

fix: minor style improvements
  src/pages/index.astro
  src/ui/modules/core/components/articleCard/article-card.css
  src/ui/modules/core/components/breadcrumbs/breadcrumbs.css
  src/ui/modules/core/components/header/atoms/menuButton/menu-button.css
  src/ui/modules/core/components/relatedArticles/related-articles.css
Due: yarn format:changed, yarn lint:ts:changed

chore(deps): bump deps
  package.json
  yarn.lock
Due: none

style: minor improvements
  astro.config.ts
  src/application/entities/authors/authors.ts
  src/infrastructure/utils/checkDuplicatedEntries/checkDuplicatedEntries.ts
  src/infrastructure/utils/createEmail/createEmail.ts
  src/infrastructure/utils/sendEmail/sendEmail.ts
  src/infrastructure/utils/validateContact/validateContact.ts
  src/ui/modules/core/components/breadcrumbs/breadcrumbs.css
Due: yarn format:changed, yarn lint:ts:changed

feat: add method to get article variant
  src/ui/modules/contact/utils/changeTab/changeTab.ts
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/ArticleCard.tsx
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/utils/articleVariantToClass/articleVariantToClass.ts
  src/ui/modules/core/utils/articleVariantToClass/index.ts
Due: yarn format:changed, yarn lint:ts:changed

feat: add slider for related articles
  src/infrastructure/utils/validateContact/validateContact.ts
  src/pages/index.astro
  src/pages/tags/_tag.css
  src/ui/modules/about/components/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/ArticleCard.tsx
  src/ui/modules/core/components/articleCard/article-card.css
  src/ui/modules/core/components/latestArticles/LatestArticles.astro
  src/ui/modules/core/components/latestArticles/atoms/latestArticlesSlider/LatestArticlesSlider.tsx
  src/ui/modules/core/components/relatedArticles/RelatedArticles.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/related-article-card.css
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticlesSlider/RelatedArticlesSlider.tsx
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticlesSlider/index.ts
  src/ui/modules/core/components/slider/Slider.tsx
  src/ui/modules/core/components/slider/atoms/SliderNavigation/SliderNavigation.tsx
  src/ui/modules/core/components/slider/atoms/SliderNavigation/slider-navigation.css
  src/ui/modules/core/utils/articleVariantToClass/articleVariantToClass.ts
  src/ui/modules/home/components/testimonials/Testimonials.astro
  src/ui/modules/home/components/testimonialsSlider/TestimonialsSlider.tsx
  src/ui/styles/vendor/swiper.css
Due: yarn format:changed, yarn lint:ts:changed

fix: minor patch
  package.json
  src/ui/modules/core/components/slider/Slider.tsx
  src/ui/modules/core/components/slider/atoms/SliderNavigation/SliderNavigation.tsx
Due: yarn format:changed, yarn lint:ts:changed
