Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:changed, yarn lint:ts:changed, yarn lint:styles, yarn test --bail --findRelatedTests

fix: related articles schema
  package.json
  src/application/dto/article/utils/getRelatedArticles/getRelatedArticles.ts
  src/application/entities/articles/schema.ts
  src/application/entities/authors/schema.ts
  src/ui/modules/core/components/articleCard/article-card.css
  src/ui/modules/core/components/articleCard/atoms/articleCardAuthor/article-card-author.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTagItem/article-card-tag-item.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTagsList/article-card-tags-list.css
  src/ui/modules/core/components/relatedArticles/RelatedArticles.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/related-article-card.css
Due: yarn format:changed, yarn lint:ts:changed, yarn lint:styles

perf: fix unused types
  src/application/dto/article/articleDTO.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/project/projectDTO.ts
  src/application/dto/tag/utils/getArticlesByTag/getArticlesByTag.ts
  src/application/entities/articles/schema.ts
  src/application/entities/authors/schema.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/shared/application/types/index.ts
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/core/utils/getFeaturedArticle/getFeaturedArticle.ts
Due: yarn format:changed, yarn lint:ts:changed

feat: add TS stylelint support
  .stylelintrc.cjs
  .stylelintrc.ts
  package.json
Due: none

style: reused test cmd
  .lintstagedrc.json
Due: none

perf: improved stylelint rules
  .stylelintrc.ts
  package.json
Due: none

perf: improved lint-staged
  .lintstagedrc.json
  .stylelintrc.ts
  package.json
Due: none

perf: improved promises fetch
  .lintstagedrc.json
  .stylelintrc.ts
  package.json
  src/application/dto/article/articleDTO.ts
  src/application/dto/article/utils/renderOptions/renderOptions.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/author/utils/getArticlesByAuthor.ts
  src/application/dto/author/utils/index.ts
  src/application/dto/project/projectDTO.ts
  src/application/dto/tag/utils/getArticlesByTag/getArticlesByTag.ts
  src/application/entities/articles/schema.ts
  src/application/entities/authors/schema.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/shared/application/types/index.ts
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/utils/getFeaturedArticle/getFeaturedArticle.ts
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed

perf: hardcoded strings unification
  .github/FUNDING.yml
  astro.config.ts
  package.json
  src/const/const.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/_article.css
  src/pages/index.astro
  src/pages/tags/[slug].astro
  src/pages/tags/index.astro
  src/ui/modules/about/components/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/modules/article/components/articleDetails/ArticleDetails.astro
  src/ui/modules/article/components/articleDetails/article-details.css
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/articles/components/featuredArticle/featured-article.css
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/contact/components/contactForm/contact-form.css
  src/ui/modules/contact/components/tabs/Tabs.astro
  src/ui/modules/contact/components/tabs/tabs.css
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/article-card.css
  src/ui/modules/core/components/articleCard/atoms/articleCardAuthor/ArticleCardAuthor.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardTagItem/ArticleCardTagItem.tsx
  src/ui/modules/core/components/breadcrumbs/Breadcrumbs.astro
  src/ui/modules/core/components/breadcrumbs/breadcrumbs.css
  src/ui/modules/core/components/cookieConsent/config/config.ts
  src/ui/modules/core/components/emailButton/EmailButton.astro
  src/ui/modules/core/components/errorLayer/ErrorLayer.astro
  src/ui/modules/core/components/footer/Footer.astro
  src/ui/modules/core/components/header/atoms/menu/Menu.astro
  src/ui/modules/core/components/latestArticles/LatestArticles.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/components/socialNetworks/SocialNetworks.astro
  src/ui/modules/core/utils/getLocation/getLocation.ts
  src/ui/styles/global/global.css
  src/ui/styles/global/variables.css
  tsconfig.json
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed, yarn lint:styles

perf: hardcoded strings unification
  astro.config.ts
  src/const/const.ts
  src/pages/index.astro
  src/pages/projects.astro
  src/ui/modules/about/components/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/modules/home/components/myWork/MyWork.astro
Due: yarn format:changed, yarn lint:ts:changed

perf: add const improvements
  package.json
  src/const/const.ts
  src/const/types.ts
  src/const/utils/capitalizeKeys/capitalizeKeys.ts
  src/const/utils/capitalizeKeys/index.ts
  src/const/utils/lowercaseKeys/index.ts
  src/const/utils/lowercaseKeys/lowecaseKeys.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/privacy-policy.astro
  src/pages/projects.astro
  src/pages/tags/[slug].astro
  src/pages/tags/index.astro
  src/pages/terms-and-conditions.astro
  src/ui/modules/about/components/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/modules/article/components/articleDetails/ArticleDetails.astro
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/atoms/articleCardAuthor/ArticleCardAuthor.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardTagItem/ArticleCardTagItem.tsx
  src/ui/modules/core/components/cookieConsent/config/config.ts
  src/ui/modules/core/components/errorLayer/ErrorLayer.astro
  src/ui/modules/core/components/footer/Footer.astro
  src/ui/modules/core/components/header/atoms/menu/Menu.astro
  src/ui/modules/core/components/latestArticles/LatestArticles.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/related-article-card.css
  src/ui/modules/core/utils/getLocation/getLocation.ts
  src/ui/modules/home/components/myWork/MyWork.astro
  src/ui/modules/legal/components/legalSection/LegalSection.astro
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed, yarn lint:styles

feat: type improvements
  package.json
  src/application/dto/article/articleDTO.ts
  src/application/dto/article/types.ts
  src/application/dto/article/utils/createRelatedArticles/createRelatedArticles.ts
  src/application/dto/article/utils/createRelatedArticles/index.ts
  src/application/dto/article/utils/generateExcerpt/generateExcerpt.ts
  src/application/dto/article/utils/getRelatedArticles/getRelatedArticles.ts
  src/application/dto/author/utils/getArticlesByAuthor.ts
  src/application/dto/city/utils/createDate/createDate.ts
  src/application/dto/tag/utils/getArticlesByTag/getArticlesByTag.ts
  src/application/dto/tag/utils/groupBy/groupBy.ts
  src/pages/index.astro
  src/shared/application/dto/baseDTO.ts
  src/shared/application/types/index.ts
  src/ui/modules/about/utils/renderPin/renderPin.ts
  src/ui/modules/article/components/articleDetails/ArticleDetails.astro
  src/ui/modules/article/components/articleDetails/article-details.css
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/article-card.css
  src/ui/modules/core/components/latestArticles/atoms/latestArticlesSlider/LatestArticlesSlider.tsx
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/related-article-card.css
  src/ui/modules/core/components/slider/hooks/useSliderNavigation/useSliderNavigation.ts
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed, yarn lint:styles

style: improve naming
  package.json
  src/pages/index.astro
  src/ui/modules/about/components/aboutIntro/AboutIntro.astro
  src/ui/modules/about/components/aboutIntro/about-intro.css
  src/ui/modules/about/components/worldGlobe/WorldGlobe.tsx
  src/ui/modules/about/components/worldGlobe/world-globe.css
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/contact/components/contactForm/contact-form.css
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed, yarn lint:styles

feat: add map animations
  src/pages/index.astro
  src/ui/assets/images/svg-components/pin/Pin.tsx
  src/ui/modules/about/components/cities/Cities.tsx
  src/ui/modules/about/components/cityCard/CityCard.tsx
  src/ui/modules/about/components/cityCard/atoms/cityName/CityName.tsx
  src/ui/modules/about/components/worldGlobe/WorldGlobe.tsx
  src/ui/modules/about/components/worldGlobe/world-globe.css
  src/ui/modules/about/utils/renderPin/renderPin.ts
  src/ui/styles/vendor/overrides.css
Due: yarn format:changed, yarn lint:ts:changed, yarn lint:styles

fix: improved accessibility
  .lintstagedrc.json
  commitlint.config.ts
  package.json
  src/actions/index.ts
  src/application/dto/article/utils/getRelatedArticles/getRelatedArticles.ts
  src/infrastructure/email/server.ts
  src/pages/index.astro
  src/shared/application/dto/utils/createImage/createImage.ts
  src/shared/application/types/index.ts
  src/shared/ui/types.ts
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/ArticleCard.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardAuthor/ArticleCardAuthor.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardAuthor/article-card-author.css
  src/ui/modules/core/components/articleCard/atoms/articleCardTagItem/ArticleCardTagItem.tsx
  src/ui/modules/core/components/articleCard/atoms/articleCardTagItem/article-card-tag-item.css
  src/ui/modules/core/components/breadcrumbs/Breadcrumbs.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/RelatedArticleCard.astro
  src/ui/modules/core/components/relatedArticles/atoms/relatedArticleCard/related-article-card.css
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed, yarn lint:styles

fix: restore cmd
  .lintstagedrc.json
Due: none

chore(deps): bump yarn
  package.json
Due: none

chore: bump deps
  package.json
  yarn.lock
Due: none

fix: minor type improvements
  src/ui/assets/images/svg/logo.svg
  src/ui/modules/about/components/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/modules/about/components/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/ArticleCard.tsx
  src/ui/modules/core/components/breadcrumbs/Breadcrumbs.astro
  src/ui/modules/core/components/latestArticles/LatestArticles.astro
  src/ui/modules/core/components/latestArticles/atoms/latestArticlesSlider/LatestArticlesSlider.tsx
Due: yarn format:changed, yarn lint:ts:changed

docs: add todo
  src/pages/index.astro
  yarn.lock
Due: yarn format:changed, yarn lint:ts:changed

Path conditions:
  yarn format:changed: any of: src/**/*.{ts,tsx,css,astro}
  yarn lint:ts:changed: any of: src/**/*.{ts,tsx,astro}
  yarn lint:styles: any of: src/**/*.css
  yarn test --bail --findRelatedTests: any of: src/**/*.{test,spec}.{ts,tsx}
