Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

feat: mark the current Table of Contents entry with a sliding marker, and grow the slider's markers with their slide
  src/ui/modules/article/components/tableOfContents/TableOfContents.astro
  src/ui/modules/article/components/tableOfContents/table-of-contents.css
  src/ui/modules/core/components/sliderShell/SliderShell.astro
  src/ui/styles/AGENTS.md
  src/ui/styles/global/animations.css
  src/ui/styles/global/slider.css
Due: pnpm format:changed, pnpm lint:changed

test(e2e): send the preview's Access token from the content spec too
  e2e/content.spec.ts
Due: none

feat: let editors sign in to the admin with Google
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  AGENTS.md
  astro.config.ts
Due: none

chore: retire Contentful now that both stages serve EmDash
  AGENTS.md
  CODING_STANDARDS.md
  docs/adr/0021-emdash-self-hosted-cms.md
  docs/docs-consistency.test.ts
  docs/wiki/Getting-Started.md
  package.json
  scripts/importContentful/contentful.ts
  scripts/importContentful/emdash.test.ts
  scripts/importContentful/emdash.ts
  scripts/importContentful/fields.test.ts
  scripts/importContentful/fields.ts
  scripts/importContentful/index.ts
  scripts/importContentful/portableText.test.ts
  scripts/importContentful/portableText.ts
  scripts/importContentful/preflight.test.ts
  scripts/importContentful/preflight.ts
  vitest.config.ts
Due: none

chore(release): 1.26.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  52cc7a8a649e731dfd99dff8b1e3e5d45d0e6f4a
Due: none

refactor: compute the middleware's security headers once, for the mode the build runs in
  src/middleware.test.ts
  src/middleware.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

feat: let an editor preview an Article, including one never published
  AGENTS.md
  seed/seed.json
  src/application/entities/articles/articles.test.ts
  src/application/entities/articles/articles.ts
  src/application/entities/queries.ts
  src/infrastructure/AGENTS.md
  src/infrastructure/cms/client.test.ts
  src/infrastructure/cms/client.ts
  src/infrastructure/cms/entries.ts
  src/tests/doubles/cmsLayer.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

chore(release): 1.27.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  305a5e9e8f739b655f99e928ec918b5c721e0f6e
Due: none

Path conditions:
  pnpm format:changed: any of: src/**/*.{ts,tsx,css,astro}
  pnpm lint:changed: any of: src/**/*.{ts,tsx,css,astro}
  pnpm test:ut:changed: any of: src/**/*.{test,spec}.{ts,tsx}
