Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add scroll to top
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  src/ui/components/atoms/scrollTop/ScrollTop.astro
  src/ui/components/atoms/scrollTop/scroll-top.css
  src/ui/components/organisms/contactForm/contact-form.css
  src/ui/components/organisms/projectsIntro/ProjectsIntro.astro
  src/ui/components/templates/baseLayout/BaseLayout.astro
  src/ui/styles/global/animations.css
  src/ui/styles/global/variables.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: type imports
  src/pages/articles/[...slug].astro
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/organisms/contactForm/ContactForm.tsx
Due: yarn format:all:changed, yarn lint:ts:changed

feat: style improvements
  .yarn/install-state.gz
  biome.json
  package.json
  src/pages/articles/_article.css
  src/ui/components/atoms/logo/Logo.astro
  src/ui/components/atoms/logo/logo.css
  src/ui/components/atoms/scrollTop/ScrollTop.astro
  src/ui/components/atoms/scrollTop/scroll-top.css
  src/ui/components/molecules/welcome/welcome.css
  src/ui/components/organisms/header/Header.astro
  src/ui/components/organisms/header/components/menu/menu.css
  src/ui/components/organisms/header/header.css
  src/ui/components/templates/baseLayout/BaseLayout.astro
  src/ui/styles/global/animations.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: style improvements
  src/ui/components/molecules/welcome/welcome.css
Due: yarn format:all:changed, yarn lint:styles

feat: add theme toggle
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  src/ui/components/atoms/scrollTop/scroll-top.css
  src/ui/components/atoms/themeToggle/ThemeToggle.astro
  src/ui/components/atoms/themeToggle/utils/themeSetter/index.ts
  src/ui/components/atoms/themeToggle/utils/themeSetter/themeSetter.ts
  src/ui/components/organisms/header/components/menu/Menu.astro
  src/ui/components/organisms/header/header.css
  src/ui/components/organisms/siteHead/SiteHead.astro
  src/ui/styles/base/base.css
  src/ui/styles/global/variables.css
  src/ui/styles/index.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add dark-mode support
  .gitignore
  .yarn/install-state.gz
  package.json
  src/ui/components/atoms/themeToggle/ThemeToggle.astro
  src/ui/components/atoms/themeToggle/theme-toggle.css
  src/ui/components/atoms/themeToggle/utils/themeSetter/themeSetter.ts
  src/ui/components/organisms/footer/Footer.astro
  src/ui/components/organisms/footer/footer.css
  src/ui/components/organisms/header/components/menu/Menu.astro
  src/ui/context/reactScriptProvider/ReactScriptProvider.tsx
  src/ui/styles/base/base.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: fix small font issue
  src/ui/components/atoms/themeToggle/ThemeToggle.astro
  src/ui/components/atoms/themeToggle/utils/themeSetter/index.ts
Due: yarn format:all:changed, yarn lint:ts:changed

fix: header empty fr
  src/pages/index.astro
  src/ui/components/organisms/header/components/menu/menu.css
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add clsx
  .yarn/install-state.gz
  package.json
  src/pages/articles/index.astro
  src/pages/index.astro
  src/ui/components/atoms/emailButton/EmailButton.astro
  src/ui/components/atoms/scrollTop/scroll-top.css
  src/ui/components/atoms/themeToggle/theme-toggle.css
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: fix theme toggle
  .yarn/install-state.gz
  package.json
  src/actions/index.ts
  src/consts.ts
  src/pages/index.astro
  src/server/email/server.ts
  src/ui/components/atoms/scrollTop/ScrollTop.astro
  src/ui/components/atoms/themeToggle/utils/themeSetter/themeSetter.ts
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/organisms/testimonials/testimonials.css
  src/ui/styles/global/variables.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add keyboard support
  src/pages/index.astro
  src/ui/components/atoms/themeToggle/utils/themeSetter/themeSetter.ts
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/aboutLatestArticlesSlider/components/aboutLatestArticlesSliderNavigation/AboutLatestArticlesSliderNavigation.tsx
  src/ui/components/molecules/aboutLatestArticlesSlider/components/aboutLatestArticlesSliderNavigation/about-latest-articles-slider-navigation.css
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  src/ui/components/molecules/latestArticles/components/latestArticlesSliderNavigation/LatestArticlesSliderNavigation.tsx
  src/ui/components/molecules/latestArticles/components/latestArticlesSliderNavigation/latest-articles-slider-navigation.css
  src/ui/components/molecules/testimonialsSlider/TestimonialsSlider.tsx
  src/ui/components/molecules/testimonialsSlider/components/testimonialsNavigation/TestimonialsNavigation.tsx
  src/ui/components/molecules/testimonialsSlider/components/testimonialsNavigation/testimonials-navigation.css
  src/ui/components/organisms/siteHead/SiteHead.astro
  src/ui/hooks/useSliderNavigation/index.ts
  src/ui/hooks/useSliderNavigation/useSliderNavigation.ts
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: initial cookie set
  .yarn/install-state.gz
  package.json
  src/pages/articles/[...slug].astro
  src/pages/articles/_article.css
  src/pages/articles/_articles.css
  src/pages/index.astro
  src/ui/components/atoms/themeToggle/utils/themeSetter/themeSetter.ts
  src/ui/components/molecules/cookieConsent/CookieConsent.astro
  src/ui/components/molecules/cookieConsent/cookieConsent.config.ts
  src/ui/components/molecules/cookieConsent/utils/initCookieConsent/index.ts
  src/ui/components/molecules/cookieConsent/utils/initCookieConsent/initCookieConsent.ts
  src/ui/components/organisms/cities/cities.css
  src/ui/components/organisms/header/header.css
  src/ui/components/organisms/myWork/my-work.css
  src/ui/components/templates/baseLayout/BaseLayout.astro
  src/ui/context/reactScriptProvider/ReactScriptProvider.tsx
  src/ui/styles/vendor/cookie-consent.css
  src/ui/styles/vendor/index.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: rehydration on vanilla cookie
  .yarn/install-state.gz
  package.json
  src/assets/images/svg-components/cookie/Cookie.tsx
  src/assets/images/svg-components/cookie/index.ts
  src/assets/images/svg-components/leftArrow/LeftArrow.tsx
  src/assets/images/svg-components/pin/Pin.tsx
  src/pages/articles/[...slug].astro
  src/ui/components/atoms/scrollTop/scroll-top.css
  src/ui/components/molecules/cookieConsent/CookieConsent.astro
  src/ui/components/molecules/cookieConsent/CookieConsent.tsx
  src/ui/components/molecules/cookieConsent/cookie-consent.css
  src/ui/components/molecules/cookieConsent/cookieConsent.config.ts
  src/ui/components/molecules/cookieConsent/index.ts
  src/ui/components/molecules/cookieConsent/utils/config.ts
  src/ui/components/molecules/cookieConsent/utils/initCookieConsent/index.ts
  src/ui/components/molecules/cookieConsent/utils/initCookieConsent/initCookieConsent.ts
  src/ui/components/organisms/contactIntro/ContactIntro.astro
  src/ui/components/templates/baseLayout/BaseLayout.astro
  src/ui/context/reactScriptProvider/ReactScriptProvider.tsx
  src/ui/hooks/useSliderNavigation/index.ts
  src/ui/hooks/useSliderNavigation/useSliderNavigation.ts
  src/ui/styles/base/base.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: major changes in theme
  .yarn/install-state.gz
  package.json
  src/consts.ts
  src/pages/articles/_articles.css
  src/pages/index.astro
  src/ui/components/atoms/logo/Logo.astro
  src/ui/components/atoms/logo/logo.css
  src/ui/components/atoms/themeToggle/utils/themeSetter/themeSetter.ts
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/cookieConsent/CookieConsent.tsx
  src/ui/components/molecules/cookieConsent/cookie-consent.css
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  src/ui/components/molecules/testimonialsSlider/TestimonialsSlider.tsx
  src/ui/components/molecules/welcome/Welcome.astro
  src/ui/components/molecules/welcome/utils/initializeParallax/initializeParallax.ts
  src/ui/components/organisms/header/components/menuButton/menuButton.css
  src/ui/components/organisms/header/utils/backgroundObserver/backgroundObserver.ts
  src/ui/components/organisms/header/utils/toggleMenu/toggleMenu.ts
  src/ui/hooks/useSliderNavigation/useSliderNavigation.ts
  src/ui/styles/base/base.css
  src/ui/styles/global/variables.css
  src/ui/styles/vendor/cookie-consent.css
  src/ui/styles/vendor/vendor.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add script improvements
  .yarn/install-state.gz
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  biome.json
  package.json
  src/assets/images/svg-components/cookie/Cookie.tsx
  src/env.d.ts
  src/pages/index.astro
  src/ui/components/molecules/cookieConsent/CookieConsent.tsx
  src/ui/components/molecules/cookieConsent/index.ts
  src/ui/components/molecules/cookieConsent/utils/config.ts
  src/ui/components/organisms/Head/Head.astro
  src/ui/components/organisms/header/components/menuButton/menuButton.css
  src/ui/components/organisms/header/utils/backgroundObserver/backgroundObserver.ts
  src/ui/components/templates/baseLayout/BaseLayout.astro
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add consent mode
  src/pages/index.astro
  src/ui/components/molecules/cookieConsent/CookieConsent.tsx
  src/ui/components/molecules/cookieConsent/config/config.ts
  src/ui/components/molecules/cookieConsent/config/index.ts
  src/ui/components/molecules/cookieConsent/utils/updatePreferences/index.ts
  src/ui/components/molecules/cookieConsent/utils/updatePreferences/updatePreferences.ts
  src/ui/components/organisms/Head/Head.astro
  src/ui/components/templates/baseLayout/BaseLayout.astro
Due: yarn format:all:changed, yarn lint:ts:changed

fix: remove unused rules
  src/pages/index.astro
  src/ui/styles/vendor/swiper.css
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: remove unused rules
  biome.json
  src/ui/components/molecules/cookieConsent/config/config.ts
  src/ui/components/molecules/cookieConsent/utils/updatePreferences/updatePreferences.ts
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add consent mode support
  .env.example
  .nvmrc
  .yarn/install-state.gz
  .yarnrc.yml
  package.json
  src/assets/images/svg-components/pin/Pin.tsx
  src/pages/index.astro
  src/ui/components/atoms/worldGlobe/utils/renderPin/renderPin.ts
  src/ui/components/molecules/cookieConsent/config/config.ts
  src/ui/components/molecules/cookieConsent/utils/updatePreferences/updatePreferences.ts
  src/ui/components/organisms/Head/Head.astro
  src/ui/components/templates/baseLayout/BaseLayout.astro
  src/ui/styles/base/base.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add microdata
  .env.example
  .gitignore
  .yarn/install-state.gz
  package.json
  public/robots.txt
  src/consts.ts
  src/content/articles/first-post.md
  src/content/articles/markdown-style-guide.md
  src/content/articles/second-post.md
  src/content/articles/third-post.md
  src/content/articles/using-mdx.mdx
  src/content/authors/bianca-fiore.md
  src/content/config.ts
  src/env.d.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/_articles.css
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/ui/components/atoms/themeToggle/utils/themeSetter/themeSetter.ts
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/cookieConsent/config/config.ts
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  src/ui/components/molecules/testimonial/components/testimonialQuote/testimonial-quote.css
  src/ui/components/organisms/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/shared/utils/createExcerpt/index.ts
  src/ui/shared/utils/generateExcerpt/generateExcerpt.ts
  src/ui/shared/utils/generateExcerpt/index.ts
  src/ui/styles/base/base.css
  src/ui/styles/reset/reset.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add DTO
  .yarn/install-state.gz
  package.json
  src/application/dto/articleDTO.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/projects.astro
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/breadcrumbs/utils/generateBreadcrumbs/generateBreadcrumbs.ts
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  src/ui/components/organisms/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/context/reactScriptProvider/ReactScriptProvider.tsx
  src/ui/shared/application/dto/baseDTO.ts
  src/ui/shared/application/utils/generateExcerpt/generateExcerpt.ts
  src/ui/shared/application/utils/generateExcerpt/index.ts
  src/ui/shared/application/utils/getFeaturedArticle/getFeaturedArticle.ts
  src/ui/shared/application/utils/getFeaturedArticle/index.ts
  src/ui/shared/ui/utils/deSlugify/deSlugify.ts
  src/ui/shared/ui/utils/deSlugify/index.ts
  src/ui/shared/ui/utils/mailTo/index.ts
  src/ui/shared/ui/utils/mailTo/mailTo.ts
  src/ui/shared/ui/utils/slugify/index.ts
  src/ui/shared/ui/utils/slugify/slugify.ts
  src/ui/shared/utils/deSlugify/index.ts
  src/ui/shared/utils/mailTo/index.ts
  src/ui/shared/utils/slugify/index.ts
  tsconfig.paths.json
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: improved animations and transitions
  src/application/dto/articleDTO.ts
  src/ui/components/atoms/logo/logo.css
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  src/ui/components/organisms/contactForm/contact-form.css
  src/ui/components/organisms/footer/Footer.astro
  src/ui/components/organisms/footer/footer.css
  src/ui/components/organisms/header/components/menu/menu.css
  src/ui/components/organisms/header/components/menuButton/menuButton.css
  src/ui/components/organisms/header/components/menuOverlay/menuOverlay.css
  src/ui/components/organisms/header/header.css
  src/ui/components/organisms/header/utils/toggleMenu/toggleMenu.ts
  src/ui/components/organisms/tabs/tabs.css
  src/ui/context/reactScriptProvider/ReactScriptProvider.tsx
  src/ui/shared/ui/utils/mailTo/mailTo.ts
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

style: biome eof
  src/ui/shared/application/dto/baseDTO.ts
  src/ui/shared/application/utils/getFeaturedArticle/getFeaturedArticle.ts
  src/ui/shared/application/utils/getFeaturedArticle/index.ts
Due: yarn format:all:changed, yarn lint:ts:changed

feat: minor CSS improvements
  src/ui/components/atoms/logo/logo.css
  src/ui/components/organisms/header/utils/backgroundObserver/backgroundObserver.ts
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add major SEO improvements + GDPR compliance
  .yarn/install-state.gz
  package.json
  src/actions/index.ts
  src/application/dto/articleDTO.ts
  src/const/const.d.ts
  src/const/index.ts
  src/consts.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/privacy-policy.astro
  src/pages/rss.xml.js
  src/pages/terms-and-conditions.astro
  src/server/email/server.ts
  src/ui/components/atoms/emailButton/EmailButton.astro
  src/ui/components/atoms/legalSection/LegalSection.astro
  src/ui/components/atoms/legalSection/legal-section.css
  src/ui/components/atoms/themeToggle/utils/themeSetter/themeSetter.ts
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/atoms/worldGlobe/utils/calculateCenter/calculateCenter.ts
  src/ui/components/atoms/worldGlobe/utils/refineCities/refineCities.ts
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/aboutLatestArticlesSlider/about-latest-articles-slider.css
  src/ui/components/molecules/cookieConsent/config/config.ts
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  src/ui/components/organisms/Head/Head.astro
  src/ui/components/organisms/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/cities/Cities.tsx
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/templates/baseLayout/BaseLayout.astro
  src/ui/shared/ui/utils/mailTo/mailTo.ts
  src/ui/styles/base/base.css
  src/ui/styles/global/global.css
  tsconfig.paths.json
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: env vars
  .env.example
  src/application/dto/articleDTO.ts
  src/const/const.d.ts
  src/const/const.ts
  src/const/index.ts
  src/const/types.ts
  src/env.d.ts
  src/pages/about.astro
  src/pages/index.astro
  src/pages/privacy-policy.astro
  src/pages/terms-and-conditions.astro
  src/server/email/server.ts
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/organisms/Head/Head.astro
  src/ui/components/templates/baseLayout/BaseLayout.astro
  src/ui/shared/ui/utils/mailTo/mailTo.ts
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add initial tag DTO
  .gitignore
  .yarn/install-state.gz
  package.json
  src/application/dto/article/articleDTO.ts
  src/application/dto/tag/tagDTO.ts
  src/application/dto/tag/utils/groupBy/groupBy.ts
  src/application/dto/tag/utils/groupBy/index.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/_tags.css
  src/pages/tags/index.astro
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  src/ui/components/organisms/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/latestArticles/LatestArticles.astro
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

fix: persist theme on view transitions
  .yarn/install-state.gz
  src/assets/images/svg-components/cookie/Cookie.tsx
  src/assets/images/svg-components/leftArrow/LeftArrow.tsx
  src/assets/images/svg-components/pin/Pin.tsx
  src/assets/images/svg/double-quote.svg
  src/assets/images/svg/left-arrow.svg
  src/assets/images/svg/logo.svg
  src/assets/images/svg/zoom-in.svg
  src/assets/images/svg/zoom-out.svg
  src/const/const.ts
  src/const/types.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/_article.css
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/ui/components/atoms/themeToggle/ThemeToggle.astro
  src/ui/components/atoms/themeToggle/utils/themeSetter/themeSetter.ts
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/molecules/aboutIntro/AboutIntro.astro
  src/ui/components/molecules/aboutLatestArticlesSlider/components/aboutLatestArticlesSliderNavigation/AboutLatestArticlesSliderNavigation.tsx
  src/ui/components/molecules/testimonial/components/testimonialQuote/testimonialQuote.tsx
  src/ui/components/molecules/testimonialsSlider/components/testimonialsNavigation/TestimonialsNavigation.tsx
  src/ui/components/organisms/Head/Head.astro
  src/ui/components/organisms/footer/Footer.astro
  src/ui/components/organisms/relatedArticles/RelatedArticles.astro
  src/ui/components/organisms/relatedArticles/related-articles.css
  src/ui/components/organisms/testimonials/testimonials.css
  src/ui/context/reactScriptProvider/ReactScriptProvider.tsx
  src/ui/shared/ui/utils/mailTo/mailTo.ts
  src/ui/styles/global/variables.css
  src/ui/styles/vendor/swiper.css
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

style: improved types
  src/application/dto/tag/tagDTO.ts
  src/application/dto/tag/utils/groupBy/groupBy.ts
  src/application/dto/tag/utils/groupBy/index.ts
  src/const/types.ts
  src/pages/rss.xml.js
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add microdata
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/ui/shared/application/utils/getArticlesByTag/getArticlesByTag.ts
  src/ui/shared/application/utils/getArticlesByTag/index.ts
Due: yarn format:all:changed, yarn lint:ts:changed

feat: remove context provider
  .yarn/install-state.gz
  package.json
  src/application/dto/tag/tagDTO.ts
  src/pages/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/ui/components/atoms/emailButton/EmailButton.astro
  src/ui/components/atoms/emailButton/utils/mailTo/index.ts
  src/ui/components/atoms/emailButton/utils/mailTo/mailTo.ts
  src/ui/components/atoms/themeToggle/ThemeToggle.astro
  src/ui/components/molecules/welcome/Welcome.astro
  src/ui/components/organisms/header/Header.astro
  src/ui/components/organisms/header/utils/backgroundObserver/backgroundObserver.ts
  src/ui/components/templates/baseLayout/BaseLayout.astro
  src/ui/context/reactScriptProvider/ReactScriptProvider.tsx
  src/ui/shared/application/utils/getArticlesByTag/getArticlesByTag.ts
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add common card compponent
  .yarn/install-state.gz
  package.json
  src/application/dto/article/articleDTO.ts
  src/application/dto/tag/tagDTO.ts
  src/const/const.ts
  src/pages/articles/_articles.css
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/_tags.css
  src/pages/tags/index.astro
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/aboutLatestArticlesSlider/about-latest-articles-slider.css
  src/ui/components/molecules/latestArticles/LatestArticlesSlider.tsx
  src/ui/components/molecules/latestArticles/latest-articles-slider.css
  src/ui/components/molecules/testimonialsSlider/TestimonialsSlider.tsx
  src/ui/components/organisms/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/articleCard/ArticleCard.astro
  src/ui/components/organisms/articleCard/ArticleCard.tsx
  src/ui/components/organisms/articleCard/article-card.css
  src/ui/components/organisms/articleCard/utils/getLocation/getLocation.ts
  src/ui/components/organisms/articleCard/utils/getLocation/index.ts
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/styles/base/base.css
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add image management in DTO
  src/ui/components/organisms/articleCard/ArticleCard.astro
  src/ui/components/organisms/articleCard/ArticleCard.tsx
  src/ui/components/organisms/articleCard/utils/getLocation/getLocation.ts
  src/ui/components/organisms/articleCard/utils/getLocation/index.ts
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add featured image in DTO
  src/application/dto/article/articleDTO.ts
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/pages/tags/[tag].astro
  src/ui/components/atoms/themeToggle/theme-toggle.css
  src/ui/components/atoms/themeToggle/utils/themeSetter/themeSetter.ts
  src/ui/components/organisms/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/articleCard/ArticleCard.astro
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/myWork/MyWork.astro
  src/ui/shared/application/utils/getFeaturedArticle/getFeaturedArticle.ts
Due: yarn format:all:changed, yarn lint:ts:changed, yarn lint:styles

feat: add featured image in DTO
  src/ui/components/atoms/themeToggle/theme-toggle.css
Due: yarn format:all:changed, yarn lint:styles

feat: improved DTOs
  .yarn/install-state.gz
  package.json
  src/actions/index.ts
  src/application/dto/article/articleDTO.ts
  src/application/dto/article/index.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/author/index.ts
  src/application/dto/breadcrumb/breadcrumbDTO.ts
  src/application/dto/breadcrumb/index.ts
  src/application/dto/tag/index.ts
  src/application/dto/tag/tagDTO.ts
  src/pages/about.astro
  src/pages/index.astro
  src/ui/components/molecules/breadcrumbs/Breadcrumbs.astro
  src/ui/components/molecules/breadcrumbs/utils/generateBreadcrumbs/generateBreadcrumbs.ts
  src/ui/components/molecules/breadcrumbs/utils/generateBreadcrumbs/index.ts
  src/ui/components/organisms/slider/Slider.tsx
  src/ui/components/organisms/slider/components/SliderNavigation/SliderNavigation.tsx
  src/ui/components/organisms/slider/index.ts
  yarn.lock
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add more DTO logic
  .yarn/install-state.gz
  src/application/dto/article/index.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/author/index.ts
  src/application/dto/author/utils/getArticlesByAuthor/getArticlesByAuthor.ts
  src/application/dto/author/utils/getArticlesByAuthor/index.ts
  src/application/dto/breadcrumb/breadcrumbDTO.ts
  src/application/dto/breadcrumb/index.ts
  src/application/dto/tag/index.ts
  src/application/dto/tag/tagDTO.ts
  src/application/dto/tag/utils/getUniqueValues/getUniqueTags.ts
  src/application/dto/tag/utils/getUniqueValues/index.ts
  src/pages/about.astro
  src/pages/index.astro
Due: yarn format:all:changed, yarn lint:ts:changed

feat: add articles by tag in DTO
  src/application/dto/article/articleDTO.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/author/utils/getArticlesByAuthor/getArticlesByAuthor.ts
  src/application/dto/tag/tagDTO.ts
  src/application/dto/tag/utils/getArticlesByTag/getArticlesByTag.ts
  src/application/dto/tag/utils/getArticlesByTag/index.ts
  src/application/dto/tag/utils/getUniqueValues/getUniqueTags.ts
  src/application/dto/tag/utils/groupBy/groupBy.ts
  src/pages/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/server/email/server.ts
  src/server/firebase/server.ts
  src/ui/components/atoms/themeToggle/utils/themeSetter/themeSetter.ts
  src/ui/components/molecules/welcome/utils/initializeParallax/initializeParallax.ts
  src/ui/components/organisms/contactForm/utils/flyPlane/flyPlane.ts
  src/ui/components/organisms/header/utils/backgroundObserver/backgroundObserver.ts
  src/ui/components/organisms/header/utils/toggleMenu/toggleMenu.ts
  src/ui/components/organisms/tabs/utils/changeTab/changeTab.ts
  src/ui/hooks/useSliderNavigation/useSliderNavigation.ts
  src/ui/hooks/useTabVisibility/useTabVisibility.ts
  src/ui/shared/application/utils/getArticlesByTag/getArticlesByTag.ts
  tsconfig.json
Due: yarn format:all:changed, yarn lint:ts:changed

Path conditions:
  yarn format:all:changed: any of: src/**/*.{ts,tsx,css,astro}
  yarn lint:ts:changed: any of: src/**/*.{ts,tsx,astro}
  yarn lint:styles: any of: src/**/*.css
