Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

refactor(application): give the anti-corruption layer one mapper shape and one loader step
  docs/docs-consistency.test.ts
  src/application/CLAUDE.md
  src/application/dto/article/articleDTO.test.ts
  src/application/dto/article/articleDTO.ts
  src/application/dto/article/utils/articles.ts
  src/application/dto/article/utils/order.ts
  src/application/dto/article/utils/reference.ts
  src/application/dto/author/authorDTO.test.ts
  src/application/dto/author/authorDTO.ts
  src/application/dto/author/utils/articles.ts
  src/application/dto/author/utils/author.ts
  src/application/dto/city/cityDTO.test.ts
  src/application/dto/city/cityDTO.ts
  src/application/dto/project/projectDTO.test.ts
  src/application/dto/project/projectDTO.ts
  src/application/dto/tag/tagDTO.test.ts
  src/application/dto/tag/tagDTO.ts
  src/application/dto/tag/utils/tags.ts
  src/application/dto/testimonial/testimonialDTO.test.ts
  src/application/dto/testimonial/testimonialDTO.ts
  src/application/entities/articles/articles.ts
  src/application/entities/authors/authors.test.ts
  src/application/entities/authors/authors.ts
  src/application/entities/cities/cities.ts
  src/application/entities/placeholders.ts
  src/application/entities/projects/projects.ts
  src/application/entities/tags/tags.ts
  src/application/entities/testimonials/testimonials.ts
  src/domain/CLAUDE.md
  src/domain/author/types.ts
  src/domain/breadcrumb/rules.test.ts
  src/domain/breadcrumb/rules.ts
  src/domain/shared/baseDTO.ts
  src/domain/shared/image.ts
  src/ui/modules/core/components/breadcrumbs/Breadcrumbs.astro
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

feat(contact): replace the one-message-ever limit with a cooldown and a repeat check
  CLAUDE.md
  drizzle/0001_known_dreadnoughts.sql
  drizzle/meta/0001_snapshot.json
  drizzle/meta/_journal.json
  src/actions/CLAUDE.md
  src/actions/contact.test.ts
  src/domain/CLAUDE.md
  src/domain/contact/rules.ts
  src/infrastructure/CLAUDE.md
  src/infrastructure/db/client.test.ts
  src/infrastructure/db/client.ts
  src/infrastructure/db/constraints.test.ts
  src/infrastructure/db/constraints.ts
  src/infrastructure/db/schema.ts
  src/infrastructure/utils/persistence.test.ts
  src/infrastructure/utils/persistence.ts
  src/tests/doubles/contactLayers.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

fix(ui): stop JsonLd rendering itself
  src/ui/modules/core/components/jsonLd/JsonLd.astro
Due: pnpm format:changed, pnpm lint:changed

docs: make the decisions say what the code decided, and stop saying it twice
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  .github/workflows/publish-article.yml
  CLAUDE.md
  CONTEXT.md
  CONTRIBUTING.md
  README.md
  docs/BACKLOG.md
  docs/adr/0007-css-scroll-driven-reveal-animations.md
  docs/adr/0009-css-first-javascript-only-when-necessary.md
  docs/adr/0010-projects-as-first-class-content.md
  docs/adr/0014-bem-class-naming.md
  docs/adr/0018-hide-chrome-replaces-the-page.md
  docs/docs-consistency.test.ts
  src/ui/modules/core/components/head/Head.astro
  tsconfig.json
Due: pnpm format:changed, pnpm lint:changed

fix: repair what the last pass broke, and the numbering it uncovered
  LICENSE
  docs/BACKLOG.md
  docs/adr/0009-css-first-javascript-only-when-necessary.md
  docs/docs-consistency.test.ts
  src/application/dto/article/articleDTO.test.ts
  src/application/dto/article/utils/content.test.ts
  src/application/dto/article/utils/content.ts
  src/application/dto/article/utils/order.test.ts
  src/application/dto/article/utils/order.ts
  src/domain/CLAUDE.md
  src/domain/article/rules.test.ts
  src/domain/article/rules.ts
  src/domain/article/schema.ts
  src/domain/article/types.ts
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/articles/index.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/shared/utils/strings.test.ts
  src/ui/modules/CLAUDE.md
  src/ui/modules/about/components/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/modules/about/components/aboutLatestArticles/about-latest-articles.css
  src/ui/modules/article/components/tableOfContents/TableOfContents.astro
  src/ui/modules/articles/utils/featured.test.ts
  src/ui/modules/articles/utils/featured.ts
  src/ui/modules/core/components/breadcrumbs/Breadcrumbs.astro
  src/ui/modules/core/components/header/Header.astro
  src/ui/modules/core/components/header/utils/interactions.ts
  src/ui/modules/core/components/latestArticles/latest-articles.css
  src/ui/modules/core/components/relatedArticles/related-articles.css
  src/ui/modules/core/utils/jsonLd.test.ts
  src/ui/modules/core/utils/jsonLd.ts
  src/ui/styles/CLAUDE.md
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

feat(ui): let a slider loop, and group the tag index with the native Object.groupBy
  src/domain/tag/rules.ts
  src/ui/modules/CLAUDE.md
  src/ui/modules/core/components/sliderShell/SliderShell.astro
  src/ui/modules/core/components/sliderShell/utils/slider.test.tsx
  src/ui/modules/core/components/sliderShell/utils/slider.ts
  src/ui/modules/home/components/testimonialsSlider/TestimonialsSlider.astro
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

refactor: give the last three templates and the consent gate a module each
  CLAUDE.md
  docs/adr/0013-analytics-gated-behind-cookie-consent.md
  docs/docs-consistency.test.ts
  src/const/calendly.test.ts
  src/const/calendly.ts
  src/const/securityHeaders.test.ts
  src/const/securityHeaders.ts
  src/domain/CLAUDE.md
  src/middleware.ts
  src/tests/doubles/network.ts
  src/ui/modules/CLAUDE.md
  src/ui/modules/article/components/articleDetails/ArticleDetails.astro
  src/ui/modules/article/components/columnsToggle/utils/layout.test.tsx
  src/ui/modules/article/components/columnsToggle/utils/layout.ts
  src/ui/modules/article/components/readingProgress/utils/progress.test.tsx
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/contact/components/tabs/Tabs.astro
  src/ui/modules/contact/utils/tabs.ts
  src/ui/modules/core/components/carbonBadge/CarbonBadge.astro
  src/ui/modules/core/components/carbonBadge/utils/carbon.test.tsx
  src/ui/modules/core/components/carbonBadge/utils/carbon.ts
  src/ui/modules/core/components/cookieConsent/config.ts
  src/ui/modules/core/components/cookieConsent/utils/consentGate.test.ts
  src/ui/modules/core/components/cookieConsent/utils/consentGate.ts
  src/ui/modules/core/components/cookieConsent/utils/preferences.ts
  src/ui/modules/core/components/head/Head.astro
  src/ui/modules/home/components/testimonialsSlider/TestimonialsSlider.astro
  vitest.config.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

test(application): cover every branch of the rich-text renderer that writes an href or a src
  src/application/dto/article/utils/content.test.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

fix: the things four architecture passes could not see
  .github/workflows/_deploy.yml
  CLAUDE.md
  docs/BACKLOG.md
  src/application/dto/article/utils/content.test.ts
  src/const/calendly.test.ts
  src/const/securityHeaders.test.ts
  src/middleware.test.ts
  src/middleware.ts
  src/shared/utils/strings.test.ts
  src/shared/utils/strings.ts
  src/ui/modules/CLAUDE.md
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/contact/components/contactIntro/ContactIntro.astro
  src/ui/modules/contact/components/tabs/Tabs.astro
  src/ui/modules/contact/utils/tabs.test.tsx
  src/ui/modules/contact/utils/tabs.ts
  src/ui/modules/core/components/carbonBadge/utils/carbon.test.tsx
  src/ui/modules/core/components/carbonBadge/utils/carbon.ts
  src/ui/modules/core/components/cookieConsent/config.ts
  src/ui/modules/core/components/cookieConsent/utils/consentGate.test.ts
  src/ui/modules/core/components/cookieConsent/utils/consentGate.ts
  src/ui/modules/core/components/header/atoms/headerLink/HeaderLink.astro
  src/ui/modules/core/components/header/atoms/menu/Menu.astro
  src/ui/modules/core/components/sliderShell/utils/slider.ts
  src/ui/modules/core/components/themeToggle/ThemeToggle.astro
  src/ui/modules/core/components/themeToggle/theme-toggle.css
  src/ui/modules/core/utils/pathname.test.ts
  src/ui/modules/core/utils/pathname.ts
  src/ui/styles/CLAUDE.md
  src/ui/styles/global/modifiers.css
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

fix: point the email button island at the module that activates it
  src/ui/modules/core/components/emailButton/EmailButton.astro
Due: pnpm format:changed, pnpm lint:changed

test: cover the wiring that only a second pageview can break
  .gitattributes
  e2e/client-router-rewiring.spec.ts
Due: none

docs: narrow the e2e backlog entry to what is still uncovered
  docs/BACKLOG.md
Due: none

fix: the defects that only the built output could show
  .github/workflows/dependabot-auto-merge.yml
  astro.config.ts
  docs/adr/0012-pragmatic-ddd-domain-layer-anti-corruption-layer.md
  src/application/dto/article/articleDTO.test.ts
  src/application/dto/article/articleDTO.ts
  src/const/noindexRoutes.ts
  src/const/securityHeaders.ts
  src/domain/CLAUDE.md
  src/domain/article/rules.test.ts
  src/domain/article/rules.ts
  src/domain/article/schema.ts
  src/domain/article/types.ts
  src/pages/articles/[...slug].astro
  src/pages/rss.xml.ts
  src/ui/modules/contact/components/form/shared.css
  src/ui/styles/base/base.css
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

revert: keep the Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix: honour reduced motion, rank headings by depth, and assert the built output
  .github/workflows/ci.yml
  CLAUDE.md
  docs/built-output.test.ts
  docs/docs-consistency.test.ts
  package.json
  src/pages/privacy-policy.astro
  src/pages/terms-and-conditions.astro
  src/ui/modules/about/components/cities/Cities.astro
  src/ui/modules/about/components/worldGlobe/WorldGlobeCanvas.tsx
  src/ui/modules/contact/components/tabs/Tabs.astro
  src/ui/modules/contact/utils/form.ts
  src/ui/modules/core/components/header/utils/interactions.ts
  src/ui/modules/core/components/sliderShell/utils/slider.ts
  src/ui/modules/core/utils/motion.test.tsx
  src/ui/modules/core/utils/motion.ts
  src/ui/modules/legal/components/legalSection/legal-section.css
  vitest.config.ts
  wrangler.toml
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

feat: arch refactor
  CONTRIBUTING.md
  docs/docs-consistency.test.ts
Due: none

test: assert the population, not the one file that already complied
  docs/docs-consistency.test.ts
  src/application/dto/article/utils/reference.test.ts
  src/infrastructure/cms/client.ts
  src/infrastructure/email/server.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

feat(contact): serve the form before JavaScript arrives
  docs/adr/0011-hybrid-rendering-prerender-content-ssr-dynamic.md
  docs/built-output.test.ts
  docs/docs-consistency.test.ts
  src/pages/contact.astro
  src/ui/modules/CLAUDE.md
  src/ui/modules/contact/components/contactForm/ContactForm.test.tsx
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/contact/components/contactFormProvider/ContactFormProvider.tsx
  src/ui/modules/contact/components/tabs/Tabs.astro
  src/ui/modules/contact/utils/tabs.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

refactor(application): give the four single-type loaders one shape
  docs/docs-consistency.test.ts
  src/application/CLAUDE.md
  src/application/entities/articles/articles.ts
  src/application/entities/authors/authors.ts
  src/application/entities/cities/cities.ts
  src/application/entities/collection.ts
  src/application/entities/projects/projects.ts
  src/application/entities/tags/tags.ts
  src/application/entities/testimonials/testimonials.ts
Due: pnpm format:changed, pnpm lint:changed

fix: the six defects the contact and loader changes introduced
  docs/docs-consistency.test.ts
  src/application/entities/collection.ts
  src/application/entities/placeholders.ts
  src/ui/modules/contact/components/contactForm/ContactForm.test.tsx
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/contact/components/contactFormProvider/ContactFormProvider.tsx
  src/ui/modules/contact/components/tabs/Tabs.astro
  src/ui/modules/core/utils/motion.test.tsx
  src/ui/modules/core/utils/motion.ts
  src/ui/styles/CLAUDE.md
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

fix(styles): the cascade defects a stylesheet audit found
  src/pages/articles/_article.css
  src/ui/modules/contact/components/form/shared.css
  src/ui/styles/base/base.css
  src/ui/styles/global/variables.css
Due: pnpm format:changed, pnpm lint:changed

fix(styles): drop an outline-color the parser discarded, and a claim I left false
  src/ui/modules/CLAUDE.md
  src/ui/modules/core/components/emailButton/email-button.css
Due: pnpm format:changed, pnpm lint:changed

fix(styles): give the Email button's outline a value the parser accepts
  src/ui/modules/core/components/emailButton/email-button.css
Due: pnpm format:changed, pnpm lint:changed

test: pin env.d.ts and the prerender flag to what the code actually does
  docs/docs-consistency.test.ts
  src/env.d.ts
  src/ui/modules/core/components/cookieConsent/CookieConsent.test.tsx
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

refactor(ui): take theme.ts off module scope, and enforce the rule that says so
  docs/docs-consistency.test.ts
  src/ui/modules/CLAUDE.md
  src/ui/modules/core/components/themeToggle/utils/theme.ts
Due: pnpm format:changed, pnpm lint:changed

docs: link the file references the docs cite
  .github/PULL_REQUEST_TEMPLATE.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/adr/0000-adr-template.md
  docs/adr/0002-contentful-headless-cms.md
  docs/adr/0004-effect-for-infrastructure-clients.md
  docs/adr/0005-theme-token-families-and-inline-bootstrap.md
  docs/adr/0006-lightningcss-native-css-passthrough.md
  docs/adr/0007-css-scroll-driven-reveal-animations.md
  docs/adr/0010-projects-as-first-class-content.md
  docs/adr/0011-hybrid-rendering-prerender-content-ssr-dynamic.md
  docs/adr/0012-pragmatic-ddd-domain-layer-anti-corruption-layer.md
  docs/adr/0014-bem-class-naming.md
  docs/adr/0015-docs-consistency-enforced-by-a-test.md
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  docs/adr/0017-doubles-at-the-seam-the-architecture-declares.md
  src/actions/CLAUDE.md
  src/application/CLAUDE.md
  src/domain/CLAUDE.md
  src/infrastructure/CLAUDE.md
  src/ui/modules/CLAUDE.md
  src/ui/styles/CLAUDE.md
Due: none

test(docs): read a cited path through the link that now wraps it
  docs/docs-consistency.test.ts
Due: none

docs: link the references that need an alias or a partial path to resolve
  CLAUDE.md
  docs/adr/0004-effect-for-infrastructure-clients.md
  docs/adr/0005-theme-token-families-and-inline-bootstrap.md
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  src/application/CLAUDE.md
  src/domain/CLAUDE.md
  src/ui/modules/CLAUDE.md
  src/ui/styles/CLAUDE.md
Due: none

fix(ui): focus the menu when it exists, and take the covered page out of the tab order
  src/ui/modules/core/components/header/utils/interactions.test.tsx
  src/ui/modules/core/components/header/utils/interactions.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

docs: place the shared file names their own line already names
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  src/ui/modules/CLAUDE.md
Due: none

refactor(domain): stop storing the Article's date as a rendered English label
  src/application/CLAUDE.md
  src/application/dto/article/articleDTO.test.ts
  src/application/dto/article/articleDTO.ts
  src/domain/CLAUDE.md
  src/domain/article/rules.ts
  src/domain/article/schema.ts
  src/ui/modules/article/components/articleDetails/ArticleDetails.astro
  src/ui/modules/articles/components/featuredArticle/FeaturedArticle.astro
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/utils/card.test.ts
  src/ui/modules/core/components/articleCard/utils/card.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

refactor(ui): give the Blog's three teasers one data decision
  src/ui/modules/CLAUDE.md
  src/ui/modules/about/components/aboutLatestArticles/AboutLatestArticles.astro
  src/ui/modules/core/components/latestArticles/LatestArticles.astro
  src/ui/modules/core/utils/blogTeaser.test.ts
  src/ui/modules/core/utils/blogTeaser.ts
  src/ui/modules/home/components/blog/Blog.astro
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

perf(about): fetch the world's geography instead of compiling it into a chunk
  CLAUDE.md
  biome.json
  docs/docs-consistency.test.ts
  public/countries.json
  src/data/countries.geojson.json
  src/ui/modules/about/components/worldGlobe/WorldGlobeCanvas.tsx
  tsconfig.json
Due: pnpm format:changed, pnpm lint:changed

docs: link the file references the docs cite (#1173)
  .github/PULL_REQUEST_TEMPLATE.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/adr/0000-adr-template.md
  docs/adr/0002-contentful-headless-cms.md
  docs/adr/0004-effect-for-infrastructure-clients.md
  docs/adr/0005-theme-token-families-and-inline-bootstrap.md
  docs/adr/0006-lightningcss-native-css-passthrough.md
  docs/adr/0007-css-scroll-driven-reveal-animations.md
  docs/adr/0010-projects-as-first-class-content.md
  docs/adr/0011-hybrid-rendering-prerender-content-ssr-dynamic.md
  docs/adr/0012-pragmatic-ddd-domain-layer-anti-corruption-layer.md
  docs/adr/0014-bem-class-naming.md
  docs/adr/0015-docs-consistency-enforced-by-a-test.md
  docs/adr/0016-vitest-resolves-astro-modules-itself.md
  docs/adr/0017-doubles-at-the-seam-the-architecture-declares.md
  docs/docs-consistency.test.ts
  src/actions/CLAUDE.md
  src/application/CLAUDE.md
  src/domain/CLAUDE.md
  src/infrastructure/CLAUDE.md
  src/ui/modules/CLAUDE.md
  src/ui/styles/CLAUDE.md
Due: none

refactor(ui): identify the site's Author by its slug, not by its display name
  src/const/const.ts
  src/ui/modules/core/utils/entries.ts
Due: pnpm format:changed, pnpm lint:changed

refactor(about): unwrap the geography with use() rather than an effect
  src/ui/modules/about/components/worldGlobe/WorldGlobeCanvas.tsx
Due: pnpm format:changed, pnpm lint:changed

Path conditions:
  pnpm format:changed: any of: src/**/*.{ts,tsx,css,astro}
  pnpm lint:changed: any of: src/**/*.{ts,tsx,css,astro}
  pnpm test:ut:changed: any of: src/**/*.{test,spec}.{ts,tsx}
