Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

chore: bump deps
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/ui/modules/about/components/worldGlobe/WorldGlobe.tsx
  src/ui/modules/about/components/worldGlobe/WorldGlobeCanvas.tsx
  src/ui/modules/contact/components/contactForm/ContactForm.tsx
  src/ui/modules/contact/components/contactFormProvider/ContactFormProvider.tsx
Due: pnpm format:changed, pnpm lint:changed

docs: pin the Mermaid diagrams to the dagre layout
  docs/adr/0012-pragmatic-ddd-domain-layer-anti-corruption-layer.md
  docs/wiki/Architecture.md
  docs/wiki/Content-Model.md
Due: none

fix: validate the reCAPTCHA verdict with zod 4.6 instead of casting it
  pnpm-lock.yaml
  src/actions/AGENTS.md
  src/infrastructure/AGENTS.md
  src/infrastructure/utils/guards.test.ts
  src/infrastructure/utils/guards.ts
  src/tests/doubles/network.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

chore(release): 1.25.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  989edb0c74630b4cd790f0069eefcf5eb95c17d7
Due: none

fix: validate Contentful assets, rich-text embeds, the globe data and the contact tabs with zod
  src/application/AGENTS.md
  src/application/dto/article/utils/content.test.ts
  src/application/dto/article/utils/content.ts
  src/application/dto/author/utils/author.ts
  src/application/dto/shared/images.test.ts
  src/application/dto/shared/images.ts
  src/tests/doubles/network.ts
  src/ui/modules/AGENTS.md
  src/ui/modules/about/components/worldGlobe/WorldGlobeCanvas.test.tsx
  src/ui/modules/about/components/worldGlobe/WorldGlobeCanvas.tsx
  src/ui/modules/about/components/worldGlobe/utils/countries.ts
  src/ui/modules/article/components/columnsToggle/utils/layout.ts
  src/ui/modules/contact/utils/tabs.test.tsx
  src/ui/modules/contact/utils/tabs.ts
  src/ui/modules/core/components/carbonBadge/CarbonBadge.astro
  src/ui/modules/core/components/carbonBadge/utils/carbon.test.tsx
  src/ui/modules/core/components/carbonBadge/utils/carbon.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

chore(release): 1.25.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1bf38358d32752ed4380624d6915a189dd70a1b4
Due: none

chore: bump deps
  package.json
  pnpm-lock.yaml
  src/infrastructure/images/imagePlaceholder/imagePlaceholder.ts
  src/tests/doubles/network.ts
  src/tests/setup/network.ts
Due: pnpm format:changed, pnpm lint:changed

chore(release): 1.25.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  dc8d79f3efd354e15558cd9b77269b79438741b8
Due: none

test: hold the built pages to what their templates decide, in every chrome mode
  docs/built-output.test.ts
Due: none

chore(release): 1.25.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e8cf2fe54810f00f44bea1abadcb2ffed7ca3b99
Due: none

fix: build every zod schema without its JIT, so no page reports an eval the policy refuses
  AGENTS.md
  CODING_STANDARDS.md
  docs/adr/0012-pragmatic-ddd-domain-layer-anti-corruption-layer.md
  docs/docs-consistency.test.ts
  src/application/dto/article/articleDTO.test.ts
  src/application/dto/article/utils/content.test.ts
  src/application/dto/article/utils/content.ts
  src/application/dto/shared/images.ts
  src/application/entities/articles/articles.test.ts
  src/application/entities/authors/authors.test.ts
  src/application/entities/entities.test.ts
  src/domain/AGENTS.md
  src/domain/article/schema.ts
  src/domain/article/types.ts
  src/domain/author/schema.ts
  src/domain/author/types.ts
  src/domain/city/schema.ts
  src/domain/city/types.ts
  src/domain/contact/schema.ts
  src/domain/project/schema.ts
  src/domain/project/types.ts
  src/domain/shared/image.ts
  src/domain/tag/schema.ts
  src/domain/tag/types.ts
  src/domain/testimonial/schema.ts
  src/domain/testimonial/types.ts
  src/infrastructure/utils/guards.ts
  src/shared/ui/types.ts
  src/shared/utils/zod.test.ts
  src/shared/utils/zod.ts
  src/ui/modules/about/components/worldGlobe/utils/countries.ts
  src/ui/modules/contact/components/tabs/utils/tabs.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

chore(release): 1.25.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  59e2eb3262bfc630d86eeab4e0dca7534f753f9e
Due: none

docs: rename CONTEXT.md to GLOSSARY.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  CODING_STANDARDS.md
  GLOSSARY.md
  docs/BACKLOG.md
  docs/adr/0000-adr-template.md
  docs/adr/0002-contentful-headless-cms.md
  docs/adr/0010-projects-as-first-class-content.md
  docs/adr/0012-pragmatic-ddd-domain-layer-anti-corruption-layer.md
  docs/adr/0015-docs-consistency-enforced-by-a-test.md
  docs/adr/0019-three-questions-before-modelling.md
  docs/docs-consistency.test.ts
  docs/wiki/Architecture.md
  docs/wiki/Content-Model.md
  docs/wiki/Home.md
  src/application/AGENTS.md
  src/application/entities/authors/authors.test.ts
  src/domain/AGENTS.md
  src/domain/city/rules.test.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

ci: never auto-merge a major Dependabot update
  .github/workflows/dependabot-auto-merge.yml
Due: none

ci: fail the preview sweep when the Cloudflare API call fails
  .github/workflows/cleanup-development.yml
Due: none

docs: drop the long-message notes from the deploy docs
  AGENTS.md
  docs/docs-consistency.test.ts
  docs/wiki/CI-CD.md
  docs/wiki/Troubleshooting.md
Due: none

test: hold every deploy's --message to the shared <sha>-<event> token
  CODING_STANDARDS.md
  docs/docs-consistency.test.ts
  docs/wiki/CI-CD.md
Due: none

ci: hand the deploy's secrets only to the steps that read them
  .github/workflows/_deploy.yml
Due: none

ci: grant the Dependabot auto-merge only what it uses, at the job
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: label GitHub Actions updates ci and state semantic commits in Renovate
  .github/renovate.json
Due: none

ci: hand the build every server secret, which astro:env/server reads on load
  .github/workflows/_deploy.yml
  AGENTS.md
Due: none

fix: give both hover arrows one box at -6px, and keep no backlog
  .github/workflows/ci.yml
  AGENTS.md
  CODING_STANDARDS.md
  GLOSSARY.md
  docs/BACKLOG.md
  docs/adr/0000-adr-template.md
  docs/adr/0010-projects-as-first-class-content.md
  docs/docs-consistency.test.ts
  docs/wiki/CI-CD.md
  docs/wiki/Getting-Started.md
  docs/wiki/Home.md
  src/pages/404.astro
  src/pages/_404.css
  src/ui/modules/core/components/articleCard/ArticleCard.astro
  src/ui/modules/core/components/articleCard/article-card.css
  src/ui/styles/AGENTS.md
  src/ui/styles/global/global.css
Due: pnpm format:changed, pnpm lint:changed

chore(release): 1.25.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  db6a847b85d532f9e7ee225d3ad8c735e40ce0c0
Due: none

test(e2e): send the Cloudflare Access token to the preview's origin alone
  AGENTS.md
  CODING_STANDARDS.md
  docs/docs-consistency.test.ts
  docs/wiki/CI-CD.md
  e2e/client-router-rewiring.spec.ts
  e2e/contact-tabs.spec.ts
  e2e/fixtures.ts
  e2e/previewAccess.test.ts
  e2e/previewAccess.ts
  e2e/smoke.spec.ts
  e2e/theme-toggle.spec.ts
  playwright.config.ts
  vitest.config.ts
Due: none

fix: renew security.txt for two years, name its canonical URL and policy, and watch its expiry
  .github/SECURITY.md
  .github/workflows/ci.yml
  AGENTS.md
  CODING_STANDARDS.md
  docs/docs-consistency.test.ts
  docs/wiki/CI-CD.md
  docs/wiki/Rendering-and-Routing.md
  e2e/smoke.spec.ts
  public/.well-known/security.txt
Due: none

chore(release): 1.25.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2ef4291671a8e5e25fd44c95be02e720fcb113d5
Due: none

test: hold the smoke run to the security.txt the repository publishes, byte for byte
  .github/SECURITY.md
  .github/workflows/ci.yml
  AGENTS.md
  CODING_STANDARDS.md
  docs/wiki/CI-CD.md
  e2e/smoke.spec.ts
Due: none

feat: deliver EmDash's emails through Resend, so an editor can be invited
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/infrastructure/AGENTS.md
  src/infrastructure/cms/plugins/emailDelivery/const.ts
  src/infrastructure/cms/plugins/emailDelivery/descriptor.ts
  src/infrastructure/cms/plugins/emailDelivery/emailDelivery.test.ts
  src/infrastructure/cms/plugins/emailDelivery/plugin.ts
  src/infrastructure/email/server.test.ts
  src/infrastructure/email/server.ts
  src/tests/doubles/contactLayers.ts
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

feat: upgrade EmDash to 1.2, name each social network and run the cron every minute
  AGENTS.md
  astro.config.ts
  docs/adr/0021-emdash-self-hosted-cms.md
  package.json
  pnpm-lock.yaml
  scripts/importContentful/fields.test.ts
  scripts/importContentful/fields.ts
  seed/seed.json
  src/application/AGENTS.md
  src/application/dto/article/articleDTO.test.ts
  src/application/dto/author/authorDTO.test.ts
  src/application/dto/author/types.ts
  src/application/dto/author/utils/author.test.ts
  src/worker.ts
  wrangler.toml
Due: pnpm format:changed, pnpm lint:changed, pnpm test:ut:changed

Path conditions:
  pnpm format:changed: any of: src/**/*.{ts,tsx,css,astro}
  pnpm lint:changed: any of: src/**/*.{ts,tsx,css,astro}
  pnpm test:ut:changed: any of: src/**/*.{test,spec}.{ts,tsx}
