Repository fbuireu/biancafiore: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:all, yarn lint:ts, yarn lint:styles

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx,css}": ["yarn format:all"],
  "src/**/*.{ts,tsx}": ["yarn lint:ts"],
  "src/**/*.{css}": ["yarn lint:styles"]
}

fix: folder component structure
  .yarn/install-state.gz
  src/ui/components/atoms/testimonialAuthor/index.tsx
  src/ui/components/atoms/testimonialAuthor/testimonialAuthor.css
  src/ui/components/atoms/testimonialDescription/index.tsx
  src/ui/components/atoms/testimonialDescription/testimonialDescription.css
  src/ui/components/atoms/testimonialImage/index.tsx
  src/ui/components/atoms/testimonialImage/testimonialImage.css
  src/ui/components/atoms/testimonialQuote/index.tsx
  src/ui/components/atoms/testimonialQuote/testimonialQuote.css
  src/ui/components/atoms/testimonialQuote/testimonialQuote.tsx
  src/ui/components/atoms/testimonialsNavigation/index.tsx
  src/ui/components/atoms/testimonialsNavigation/testimonialsNavigation.css
  src/ui/components/molecules/testimonial/components/testimonialAuthor/index.tsx
  src/ui/components/molecules/testimonial/components/testimonialAuthor/testimonialAuthor.css
  src/ui/components/molecules/testimonial/components/testimonialAuthor/testimonialAuthor.tsx
  src/ui/components/molecules/testimonial/components/testimonialDescription/index.tsx
  src/ui/components/molecules/testimonial/components/testimonialDescription/testimonialDescription.css
  src/ui/components/molecules/testimonial/components/testimonialDescription/testimonialDescription.tsx
  src/ui/components/molecules/testimonial/components/testimonialImage/index.tsx
  src/ui/components/molecules/testimonial/components/testimonialImage/testimonialImage.css
  src/ui/components/molecules/testimonial/components/testimonialImage/testimonialImage.tsx
  src/ui/components/molecules/testimonial/components/testimonialQuote/index.tsx
  src/ui/components/molecules/testimonial/components/testimonialQuote/testimonialQuote.css
  src/ui/components/molecules/testimonial/components/testimonialQuote/testimonialQuote.tsx
  src/ui/components/molecules/testimonial/testimonial.tsx
  src/ui/components/molecules/testimonialsSlider/TestimonialsSlider.tsx
  src/ui/components/molecules/testimonialsSlider/components/testimonialsNavigation/TestimonialsNavigation.tsx
  src/ui/components/molecules/testimonialsSlider/components/testimonialsNavigation/index.tsx
  src/ui/components/molecules/testimonialsSlider/components/testimonialsNavigation/testimonialsNavigation.css
  src/ui/components/organisms/header/Header.astro
  src/ui/components/organisms/header/components/menu/Menu.astro
  src/ui/components/organisms/header/components/menu/menu.css
  src/ui/components/organisms/header/components/menuButton/MenuButton.astro
  src/ui/components/organisms/header/components/menuButton/menuButton.css
  src/ui/components/organisms/header/components/menuOverlay/MenuOverlay.astro
  src/ui/components/organisms/header/components/menuOverlay/menuOverlay.css
Due: yarn format:all, yarn lint:ts

fix: wrong grid column positioning
  src/ui/components/molecules/testimonial/testimonial.css
  src/ui/components/molecules/testimonialsSlider/TestimonialsSlider.tsx
  src/ui/styles/vendor/swiper.css
Due: yarn format:all, yarn lint:ts

feat: add new chevrons + improved swiper modules
  src/ui/components/molecules/testimonial/testimonial.css
  src/ui/components/molecules/testimonialsSlider/TestimonialsSlider.tsx
  src/ui/components/molecules/testimonialsSlider/components/testimonialsNavigation/TestimonialsNavigation.tsx
  src/ui/components/molecules/testimonialsSlider/components/testimonialsNavigation/testimonialsNavigation.css
  src/ui/components/organisms/header/utils/toggleMenu/toggleMenu.ts
  src/ui/styles/vendor/swiper.css
Due: yarn format:all, yarn lint:ts

feat: add intersection observer + latest articles
  src/content/articles/markdown-style-guide.md
  src/content/articles/using-mdx.mdx
  src/ui/components/molecules/testimonial/components/testimonialAuthor/testimonialAuthor.css
  src/ui/components/molecules/testimonial/components/testimonialDescription/testimonialDescription.css
  src/ui/components/molecules/testimonial/components/testimonialImage/testimonialImage.css
  src/ui/components/molecules/testimonial/components/testimonialQuote/testimonialQuote.css
  src/ui/components/molecules/testimonial/components/testimonialQuote/testimonialQuote.tsx
  src/ui/components/molecules/testimonial/testimonial.css
  src/ui/components/molecules/testimonialsSlider/components/testimonialsNavigation/testimonialsNavigation.css
  tsconfig.paths.json
Due: yarn format:all, yarn lint:ts

fix: correct scope-enum
  commitlint.config.js
Due: none

asasasaq1a
  .lintstagedrc.json
Due: none

asasasaq1a
  .huskyrc
  .lintstagedrc.json
Due: none

chore: add pre-commit rules
  .husky/commit-msg
  .huskyrc
  .yarn/install-state.gz
  commitlint.config.cjs
  package.json
  yarn.lock
Due: none

feat: test commit
  package.json
  src/ui/components/templates/articleLayout/ArticleLayout.astro
Due: none

feat: add author and tags entities
  astro.config.mjs
  src/consts.ts
  src/content/articles/first-post.md
  src/content/articles/markdown-style-guide.md
  src/content/articles/second-post.md
  src/content/articles/third-post.md
  src/content/articles/using-mdx.mdx
  src/content/config.ts
  src/pages/index.astro
  src/pages/tags/[...tag].astro
  src/pages/tags/index.astro
  src/ui/components/atoms/logo/logo.css
  src/ui/components/organisms/header/components/menuButton/menuButton.css
  src/ui/components/organisms/header/utils/intersectionObserver/intersectionObserver.ts
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/latestArticles/latestArticles.css
Due: yarn format:all, yarn lint:ts

fix: refine timeline callback to match header styles
  src/ui/components/organisms/header/utils/intersectionObserver/intersectionObserver.ts
  src/ui/components/organisms/header/utils/toggleMenu/toggleMenu.ts
Due: yarn format:all, yarn lint:ts

feat: add latest articles section
  .eslintrc.cjs
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/siteHead/SiteHead.astro
  tsconfig.paths.json
Due: none

feat: add footer
  src/consts.ts
  src/pages/index.astro
  src/ui/components/molecules/welcome/welcome.css
  src/ui/components/organisms/footer/Footer.astro
  src/ui/components/organisms/footer/footer.css
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/latestArticles/latestArticles.css
  src/ui/components/organisms/siteHead/SiteHead.astro
  src/ui/components/templates/articleLayout/articleLayout.css
  src/ui/styles/base/base.css
  src/ui/styles/global/animations.css
  src/ui/styles/global/global.css
  src/ui/styles/reset/reset.css
Due: yarn format:all, yarn lint:ts

feat: add footer
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/siteHead/SiteHead.astro
Due: none

chore: bump deps
  .yarn/install-state.gz
  package.json
  src/ui/components/organisms/siteHead/SiteHead.astro
  yarn.lock
Due: none

feat: add custom markers + dymamic post images + view transitions
  .yarn/install-state.gz
  astro.config.mjs
  package.json
  src/content/articles/first-post.md
  src/pages/about.astro
  src/pages/articles/[...slug].astro
  src/pages/index.astro
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/atoms/worldGlobe/world-globe.css
  src/ui/components/molecules/testimonial/components/testimonialAuthor/testimonialAuthor.tsx
  src/ui/components/molecules/testimonial/components/testimonialDescription/testimonialDescription.tsx
  src/ui/components/molecules/testimonial/components/testimonialImage/testimonialImage.tsx
  src/ui/components/molecules/testimonial/components/testimonialQuote/testimonialQuote.tsx
  src/ui/components/molecules/testimonial/testimonial.tsx
  src/ui/components/organisms/header/utils/toggleMenu/toggleMenu.ts
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  yarn.lock
Due: yarn format:all, yarn lint:ts

feat: add initial featured article
  .eslintrc.cjs
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .lintstagedrc.json
  .yarn/install-state.gz
  prettier.config.js
  src/content/articles/first-post.md
  src/content/articles/markdown-style-guide.md
  src/content/articles/second-post.md
  src/content/articles/third-post.md
  src/content/articles/using-mdx.mdx
  src/content/config.ts
  src/data/countries.geojson.json
  src/pages/articles/index.astro
  src/pages/index.astro
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/welcome/welcome.css
  src/ui/components/organisms/header/utils/toggleMenu/toggleMenu.ts
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/siteHead/SiteHead.astro
  tsconfig.json
  tsconfig.paths.json
Due: yarn format:all, yarn lint:ts

feat: add articles initial layout
  .yarn/install-state.gz
  package.json
  src/content/articles/first-post.md
  src/content/articles/third-post.md
  src/pages/articles/article.css
  src/pages/articles/index.astro
  src/pages/index.astro
  src/ui/components/atoms/emailButton/EmailButton.tsx
  src/ui/components/atoms/logo/Logo.astro
  src/ui/components/atoms/logo/logo.css
  src/ui/components/atoms/worldGlobe/WorldGlobe.tsx
  src/ui/components/atoms/worldGlobe/utils/renderPin/renderPin.ts
  src/ui/components/atoms/worldGlobe/world-globe.css
  src/ui/components/molecules/aboutIntro/about-intro.css
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/molecules/aboutLatestArticlesSlider/about-latest-articles-slider.css
  src/ui/components/organisms/AboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/AboutLatestArticles/about-latest-articles.css
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  src/ui/components/organisms/latestArticles/latest-articles.css
  src/ui/shared/utils/refineCities/refineCities.ts
  src/ui/styles/base/base.css
  src/ui/styles/global/global.css
  src/ui/styles/vendor/overrides.css
  src/ui/styles/vendor/swiper.css
  yarn.lock
Due: yarn format:all, yarn lint:ts

docs: add licence
  LICENSE.md
  src/ui/components/organisms/siteHead/SiteHead.astro
Due: none

feat: add latest articles section
  .yarn/install-state.gz
  package.json
  src/pages/articles/article.css
  src/pages/articles/index.astro
  src/ui/components/organisms/header/utils/toggleMenu/toggleMenu.ts
  src/ui/components/organisms/latestArticles/LatestArticles.astro
  yarn.lock
Due: yarn format:all, yarn lint:ts

chore: bump deps
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  yarn.lock
Due: none

chore(deps): bump deps
  .lintstagedrc.json
  .yarn/install-state.gz
  LICENSE.md
  astro.config.mjs
  package.json
  src/pages/index.astro
  src/ui/components/organisms/siteHead/SiteHead.astro
  src/ui/styles/global/variables.css
  yarn.lock
Due: yarn format:all

chore(deps): bump deps
  .lintstagedrc.json
  .stylelintrc.cjs
  .yarn/install-state.gz
  package.json
  src/ui/components/organisms/siteHead/SiteHead.astro
  yarn.lock
Due: none

feat: add minor unit improvements
  .yarn/install-state.gz
  package.json
  src/ui/styles/base/base.css
  src/ui/styles/global/animations.css
  src/ui/styles/reset/reset.css
  yarn.lock
Due: yarn format:all

chore(deps): bump deps
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

fix: add current page for subpages
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  src/ui/components/atoms/headerLink/HeaderLink.astro
  src/ui/components/organisms/cities/cities.css
  src/ui/components/organisms/littleMoreOfMe/LittleMoreOfMe.astro
  src/ui/styles/global/variables.css
  yarn.lock
Due: yarn format:all

refactor: add native underline property
  .lintstagedrc.json
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  src/ui/components/atoms/headerLink/HeaderLink.astro
  src/ui/components/organisms/cities/cities.css
  src/ui/components/organisms/littleMoreOfMe/LittleMoreOfMe.astro
  src/ui/styles/base/base.css
  src/ui/styles/global/animations.css
  src/ui/styles/global/global.css
  src/ui/styles/global/variables.css
  src/ui/styles/reset/reset.css
  tsconfig.json
  yarn.lock
Due: yarn format:all

chore: bump deps
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

chore(deps): bump deps
  .yarn/install-state.gz
  package.json
  src/ui/styles/base/base.css
  yarn.lock
Due: yarn format:all

chore(deps): bump deps
  src/pages/index.astro
  src/ui/components/organisms/siteHead/SiteHead.astro
  tsconfig.json
Due: none

chore(deps): add million integration
  .yarn/install-state.gz
  astro.config.mjs
  package.json
  src/pages/index.astro
  yarn.lock
Due: none

fix: add latest articles props
  .yarn/install-state.gz
  package.json
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/organisms/AboutLatestArticles/AboutLatestArticles.astro
  yarn.lock
Due: yarn format:all, yarn lint:ts

feat: add project
  .yarn/install-state.gz
  package.json
  src/pages/index.astro
  src/pages/projects.astro
  src/ui/components/atoms/projectSection/ProjectSection.astro
  src/ui/components/atoms/projectSection/project-section.css
  src/ui/components/molecules/cityCard/city-card.css
  src/ui/components/organisms/siteHead/SiteHead.astro
  src/ui/components/templates/baseLayout/BaseLayout.astro
  src/ui/styles/base/base.css
  yarn.lock
Due: yarn format:all

feat: add initial contact
  .yarn/install-state.gz
  astro.config.mjs
  package.json
  src/pages/contact.astro
  src/pages/index.astro
  src/ui/components/molecules/aboutLatestArticlesSlider/AboutLatestArticlesSlider.tsx
  src/ui/components/organisms/AboutLatestArticles/AboutLatestArticles.astro
  src/ui/components/organisms/siteHead/SiteHead.astro
  src/ui/shared/utils/changeTab/changeTab.ts
  src/ui/shared/utils/changeTab/index.ts
  src/ui/styles/global/variables.css
  yarn.lock
Due: yarn format:all, yarn lint:ts

chore(deps): bump deps
  .yarn/install-state.gz
  package.json
  src/pages/contact.astro
  src/ui/components/organisms/siteHead/SiteHead.astro
  src/ui/shared/utils/changeTab/changeTab.ts
  yarn.lock
Due: yarn format:all, yarn lint:ts
